{% load ting_tags %}
{% load tz %}
{% load static %}
<div class="content">
    <div class="content">
        <div class="ting-search-place">
            <form class="ui form" action="{% url 'ting_wb_adm_update_table' table.pk %}" method="POST" id="ting-admin-edit-table-form">
                {% csrf_token %}
                <div class="field">
                    <label>Enter Table Number :</label>
                    <input type="text" name="number" value="{{table.number}}" placeholder="Table Number" required autocomplete="off">
                </div>
                <div class="field">
                    <label>Enter Maximum Number Of People :</label>
                    <input type="number" value="{{table.max_people}}" name="max_people" placeholder="Maximum Number Of People" required autocomplete="off">
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Select Location :</label>
                            <select class="dropdown" name="location">
                                {% for location in locations %}
                                    {% if table.location == location.0 %}
                                    <option selected value="{{location.0}}">{{location.1}}</option>
                                    {% else %}
                                    <option value="{{location.0}}">{{location.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label>Select Chair Type :</label>
                            <select class="dropdown" name="chair_type">
                                {% for type in types %}
                                    {% if table.chair_type == type.0 %}
                                    <option selected value="{{type.0}}">{{type.1}}</option>
                                    {% else %}
                                    <option value="{{type.0}}">{{type.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Enter Table Description :</label>
                    <textarea name="description" placeholder="Table Description" required>{{table.description}}</textarea>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">$("#ting-admin-edit-table-form").submitFormAjax(); $("select.dropdown").dropdown();</script>