{% load staticfiles %}
{% load humanize %}
{% load ting_tags %}
{% load tz %}

<div class="ui grid">
	<div class="row" style="border-bottom: 1px solid #DDDDDD; padding-bottom: 0 !important;">
		<div class="eight wide column">
			<h2 style="font-weight: 400 !important; text-transform: uppercase; font-size: 20px; margin-top: 14px;">Select Date</h2>
		</div>
		<div class="eight wide column">
			<form class="ui form" id="ting-submit-report-bill-incomes-form" action="{% url 'ting_wb_adm_load_bills_income_reports' %}" method="GET" style="">
		  		<div class="ui grid">
		  			<div class="row">
		  				<div class="thirteen wide column">
			  				<div class="three fields">
							    <div class="field">
							      	<select class="ui dropdown" name="year">
							      		<option value="">None</option>
							      		{% for year in years %}
							      			{% if selected_year == year %}
							      				<option value="{{year}}" selected>{{year}}</option>
							      			{% else %}
							      				<option value="{{year}}">{{year}}</option>
							      			{% endif %}
							      		{% endfor %}
							      	</select>
							    </div>
							    <div class="field">
							      	<select class="ui dropdown" name="month">
							      		<option value="0">None</option>
							      		{% for month in months %}
							      			{% if selected_month == month.month %}
							      				<option value="{{month.month}}" selected>{{month.name}}</option>
							      			{% else %}
							      				<option value="{{month.month}}">{{month.name}}</option>
							      			{% endif %}
							      		{% endfor %}
							      	</select>
							    </div>
							    <div class="field">
							      	<select class="ui dropdown" name="day">
							      		<option value="0">None</option>
							      		{% for day in days %}
							      			{% if selected_day == day %}
							      				<option value="{{day}}" selected>{{day}}</option>
							      			{% else %}
							      				<option value="{{day}}">{{day}}</option>
							      			{% endif %}
							      		{% endfor %}
							      	</select>
							    </div>
							</div>
			  			</div>
			  			<div class="three wide column" style="padding: 0 !important;"><button type="submit" class="ui positive button" style="min-height: 2.71428571em; height: 46px; width: 100%; text-transform: uppercase;">Submit</button></div>
		  			</div>
		  		</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="sixteen wide column" style="padding: 1rem 3rem;">
			<h2 style="font-size: 20px; margin-bottom: 2rem;">Placements & Bill of {{ date_string }}</h2>
			<table class="ui single line table">
			    <thead>
			        <tr>
			        	<th>#</th>
			            <th>Table</th>
			            <th>Image</th>
			            <th>Name</th>
			            {% if selected_day != 0 and selected_month != 0 %}
			            <th>Peoples</th>
			            {% else %}
			            <th>Date</th>
			            {% endif %}
			            <th>Bill No</th>
			            <th>Total</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			        {% if placements.count > 0 %}
			            {% for placement in placements %}
			                <tr>
			                	<td style="font-weight: bold;">{{forloop.counter}}</td>
			                    <td>{{placement.table.number}}</td>
			                    <td><img src="{{placement.user.image.url}}"></td>
			                    <td>{{placement.user.name}}</td>
			                    {% if selected_day != 0 and selected_month != 0 %}
			                    <td>{{placement.people}}</td>
					            {% else %}
					            <td>{{placement.created_at|date}}</td>
					            {% endif %}
			                    <td>{{placement.bill.number}}</td>
			                    <td>{{placement.bill.currency}} {{placement.bill.total|intcomma}}</td>
			                    <td>
			                        <div class="ui small labeled icon button ting-open-ajax-modal" ting-modal-type="ajax" ting-data-url="{% url 'ting_wb_adm_load_user_placement' placement.pk %}" ting-modal-target="ting-load-placement">
			                            <i class="dot circle icon"></i> View
			                        </div>
			                    </td>
			                </tr>
			            {% endfor %}
			        {% else %}
			            <tr>
			                <th colspan="9">
			                    <div class="ting-empty-data"><i class="icon clipboard outline"></i><p>No Bill To Show</p></div>
			                </th>
			            </tr>
			        {% endif %}
			    </tbody>
			</table>
			<div class="ting-report-amounts">
				<p>Amount</p>
				<h4>{{admin.restaurant.config.currency}} {{amounts_sum|intcomma}}</h4>
				<p>Discount</p>
				<h4>{{admin.restaurant.config.currency}} {{discounts_sum|intcomma}}</h4>
				<p>Extras Total</p>
				<h4>{{admin.restaurant.config.currency}} {{extras_sum|intcomma}}</h4>
				<p>Tips</p>
				<h4>{{admin.restaurant.config.currency}} {{tips_sum|intcomma}}</h4>
				<hr>
				<p>Total</p>
				<h2>{{admin.restaurant.config.currency}} {{totals_sum|intcomma}}</h2>
			</div>
			<div class="ting-report-export-button">
				<form action="{% url 'ting_wb_adm_export_bills_income_reports_excel' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="day" value="{{selected_day}}">
					<input type="hidden" name="month" value="{{selected_month}}">
					<input type="hidden" name="year" value="{{selected_year}}">
					<button type="submit" value="csv" name="export" class="ui positive button">Export To CSV</button>
					<button type="submit" value="exl" name="export" class="ui orange button">Export To Excel</button>
				</form>
				<form action="{% url 'ting_wb_adm_export_bills_income_reports_pdf' %}" method="POST" target="_blank">
					{% csrf_token %}
					<input type="hidden" name="day" value="{{selected_day}}">
					<input type="hidden" name="month" value="{{selected_month}}">
					<input type="hidden" name="year" value="{{selected_year}}">
					<button type="button" id="ting-show-placements-report-pdf-{{random_uuid}}" class="ui blue button">Export To PDF</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="ui modal large" id="ting-placements-report-pdf-{{random_uuid}}">
    <div class="header">
        Report
    </div>
    <div class="content" id="ting-incomes-report-content-{{random_uuid}}">
    	<div class="ting-report-header">
    		<img src="{{restaurant.logo.url}}">
    		<h2>{{restaurant.name}}</h2>
    		<p>{{admin.branch.name}}</p>
    		<p class="ting-report-date">{{today}}</p>
    	</div>
        <div class="ting-report-title">
        	<h2>Placements & Bill of {{ date_string }}</h2>
        </div>
		<table class="ui single line table small">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Table</th>
                    <th>Image</th>
                    <th>Name</th>
                    {% if selected_day != 0 and selected_month != 0 %}
                    <th>Peoples</th>
                    {% else %}
                    <th>Date</th>
                    {% endif %}
                    <th>Bill No</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Extras Total</th>
                    <th>Tips</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% if placements.count > 0 %}
                    {% for placement in placements %}
                        <tr>
                            <td style="font-weight: bold;">{{forloop.counter}}</td>
                            <td>{{placement.table.number}}</td>
                            <td><img src="{{placement.user.image.url}}"></td>
                            <td>{{placement.user.name}}</td>
                            {% if selected_day != 0 and selected_month != 0 %}
                            <td>{{placement.people}}</td>
                            {% else %}
                            <td>{{placement.created_at|date}}</td>
                            {% endif %}
                            <td>{{placement.bill.number}}</td>
                            <td>{{placement.bill.currency}} {{placement.bill.amount|intcomma}}</td>
                            <td>{{placement.bill.currency}} {{placement.bill.discount|intcomma}}</td>
                            <td>{{placement.bill.currency}} {{placement.bill.extras_total|intcomma}}</td>
                            <td>{{placement.bill.currency}} {{placement.bill.tips|intcomma}}</td>
                            <td>{{placement.bill.currency}} {{placement.bill.total|intcomma}}</td>
                        </tr>    
                    {% endfor %}
                {% else %}
                    <tr>
                        <th colspan="11">
                            <div class="ting-empty-data"><i class="icon clipboard outline"></i><p>No Bill To Show</p></div>
                        </th>
                    </tr>
                {% endif %}
            </tbody>
        </table>
		<div class="ting-report-amounts small">
			<p>Amount</p>
			<h4>{{admin.restaurant.config.currency}} {{amounts_sum|intcomma}}</h4>
			<p>Discount</p>
			<h4>{{admin.restaurant.config.currency}} {{discounts_sum|intcomma}}</h4>
			<p>Extras Total</p>
			<h4>{{admin.restaurant.config.currency}} {{extras_sum|intcomma}}</h4>
			<p>Tips</p>
			<h4>{{admin.restaurant.config.currency}} {{tips_sum|intcomma}}</h4>
			<hr>
			<p>Total</p>
			<h2>{{admin.restaurant.config.currency}} {{totals_sum|intcomma}}</h2>
		</div>
	</div>
    <div class="actions">
        <button type="submit" id="ting-download-report-incomes" class="ui positive button">
            Download
        </button>
        <div class="ui red deny button left">
            Close
        </div>
    </div>
</div>

<style type="text/css">.ui.selection.dropdown { min-width: 100% !important; }</style>
<script type="text/javascript">
	$(".ui.dropdown, .dropdown").dropdown();
	$(".ting-open-ajax-modal").openModal();
	$("#ting-show-placements-report-pdf-{{random_uuid}}").click(function(e) {
		e.preventDefault();
		$("#ting-placements-report-pdf-{{random_uuid}}").modal({
			onApprove: function(){ return false; }
		}).modal("show");
	});
	$("#ting-download-report-incomes").click(function() {
		printPdf('ting-incomes-report-content-{{random_uuid}}', '{{filename_pdf}}', 6);
	});
	$("#ting-submit-report-bill-incomes-form").submit(function(e) {
		e.preventDefault();
		
		var container = $("body").find("#ting-admin-reports-content-panel")
		container.find(".ting-loader").show();
		container.find(".ting-data-content").empty();

		var _dt = new FormData($(this)[0]);
        var _url = $(this).attr("action");
        var _meth = $(this).attr("method");

        $.ajax({
            type: "POST", url: _url, data: _dt,
            processData: false, contentType: false,
            success: function(response){
            	if(typeof response === 'object' && response != null){
	                if(response.type == 'error'){
	                    container.find(".ting-loader").hide();
	                    container.find(".ting-data-content").html('<div class="ui red message"><b>Error '+ response.status +' : </b>' + response.message + '</div>');
	                }
	            } else {
	                container.find(".ting-loader").hide();                  
	                container.find(".ting-data-content").html(response);
	            }
            }, 
            error: function(_, t, e){
            	container.find(".ting-loader").hide();
            	container.find(".ting-data-content").html('<div class="ui red message">' + e + '</div>');
            }
        });
	});
</script>