{% load staticfiles %}
{% load ting_tags %}
<div class="content">
    <div class="ting-search-place">
        <form class="ui form" action="{% url 'ting_wb_adm_menu_dish_update' dish.pk %}" method="POST" id="ting-update-menu-dish-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label>Enter Dish Name :</label>
                <input type="text" name="name" placeholder="dish Name" value="{{dish.name}}" required autocomplete="off">
            </div>

            <div class="field">
                <label>Enter Dish Description :</label>
                <textarea name="description" required placeholder="Enter Description">{{dish.description}}</textarea>
            </div>

            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <label>Enter Last Price :</label>
                        <input type="number" name="last_price" min="0" value="{{dish.last_price}}" placeholder="Enter Last Price" required>
                    </div>
                    <div class="field">
                        <label>Enter Current Price :</label>
                        <input type="number" name="price" min="0" value="{{dish.price}}" placeholder="Enter Price" required>
                    </div>
                    <div class="field">
                        <label>Select Currency :</label>
                        <select class="ui dropdown" name="currency">
                            {% if restaurant.config.use_default_currency == True %}
                                <option value="{{restaurant.config.currency}}">{{restaurant.config.currency|from_t:currencies}}</option>
                            {% else %}
                                {% for currency in currencies %}
                                    {% if dish.currency == currency.0 %}
                                    <option value="{{currency.0}}" selected>{{currency.1}}</option>
                                    {% else %}
                                    <option value="{{currency.0}}">{{currency.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Enter Ingredient List :</label>
                <textarea required name="ingredients" class="ting-textarea-froala-editor" placeholder="Ingredient List">{{dish.ingredients}}</textarea>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="show_ingredients" {% if dish.show_ingredients == True %} checked {% endif %}>
                    <label style="line-height: 1.3 !important;">Show Ingredients To Users</label>
                </div>
            </div>
            <div class="field">
                <label>Enter Quantity (According to the price if countable is true. Eg: Price of 2 Plates, ... ) :</label>
                <input type="number" name="quantity" value="{{dish.quantity}}" placeholder="Enter Quantity" min="0">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="is_countable" {% if dish.is_countable == True %} checked {% endif %}>
                    <label style="line-height: 1.3 !important;">Is Countable</label>
                </div>
            </div>
            <div class="field ting-file-input">
                <span>Add dish Images</span>
                <input type="file" name="image" required multiple="true" id="ting-multiple-image-input-else" accept=".jpg, .png, .jpeg" required>
            </div>
            {% if admin.admin_type|to_int == 1 and dish.menu.for_all_branches == True %}
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="for_all_branches">
                        <label style="line-height: 1.3 !important;">Update For All Branches</label>
                    </div>
                </div>
            {% else %}
                <input type="checkbox" name="for_all_branches" style="display: none;">
            {% endif %}
            <div class="ting-item-images-preview ting-item-images-preview-else"></div>
            <div class="ui indicating progress small ting-progress-form" style="display: none;" data-value="0" data-total="100">
                <div class="bar"></div>
            </div>
            <div class="ting-form-data-images">
                {% for image in images %}
                    <div class="ting-image-form" id="ting-image-form-{{image.id}}">
                        <img src="{{image.image.url}}">
                        <div class="ting-delete-image"><a class="ting-open-ajax-modal" ting-modal-type="confirm-ajax" ting-modal-data='{ "title" : "Delete dish Image", "message" : "Do you realy want to delete this dish image ?" }' ting-hide-content="ting-image-form-{{image.id}}" ting-data-url="{% url 'ting_wb_adm_menu_dish_delete_image' dish.pk image.pk %}" ting-modal-target="ting-dish-image-delete-{{image.id}}"><i class="times icon"></i></a></div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(".ting-textarea-froala-editor").setFroalaEditor();
        $("#ting-multiple-image-input-else").change(function(e){
            multipleImagesPreview(this, $(".ting-item-images-preview-else"));
        });
        $("select.dropdown, .dropdown").dropdown('hide');
        $("#ting-update-menu-dish-form").submitFormAjax();
        $(".ting-open-ajax-modal").openModal();
    </script>
</div>