{% load ting_tags %}
{% load tz %}
<div class="content">
    <div class="image">
        <div class="ui grid">
            <div class="row">
                <div class="eight wide column" style="padding-left: 2rem;">
                    <img src="{{booking.user.image.url}}" style="width: 100%;">
                </div>
                                
                <div class="eight wide column">
                    <div class="ting-restaurant-about ting-no-p-top">
                      <h3>ABOUT</h3>
                      <div class="ting-restaurant-about-data">
                          <p><i class="icon user"></i>{{booking.user.name}}</p>
                          <p><i class="icon map marker alternate"></i>{{booking.user.addresses.0.address}}</p>
                          <p><i class="icon mail"></i>{{booking.user.email}}</p>
                          <p><i class="icon phone"></i>{{booking.user.phone|none}}</p>
                          <p><i class="icon calendar alternate"></i>{{booking.date}} at {{booking.time}}</p>
                          <p><i class="icon users"></i>{{booking.people}} {% if booking.people == 1 %} Person{% else %}People{% endif %}</p>
                          <p><i class="icon utensils"></i>{% if booking.table != None %}{{booking.table.number}}{% else %}{{booking.location_str}}{% endif %}</p>
                          <p>
                            {% if booking.status == 1 %}
                                <div class="ui orange icon label"><i class="icon hourglass half"></i> {{booking.status_str}}</div>
                            {% elif booking.status == 2 or booking.status == 7 %}
                                <div class="ui red icon label"><i class="icon times"></i> {{book.status_str}}</div>
                            {% else %}
                                <div class="ui green icon label"><i class="icon check"></i> {{booking.status_str}}</div>
                            {% endif %}
                          </p>
                          <p><i class="icon clock"></i>{{booking.created_at|localtime}}</p>
                      </div>    
                  </div>         
                </div>            
            </div>
        </div>
    </div>
</div>