{% extends '../../layouts/header.html' %}
{% load staticfiles %}
{% load ting_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block js %}
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.min.js"></script>
<script src="{% static 'js/socket.js' %}"></script>
{% endblock %}
{% block title %}
    <title>Ting.com - Admin / Dashboard</title>
{% endblock %}
{% block content %}
{% include '../../web/admin/sidebar.html' %}
<div class="pusher">
    <div class="article ting-admin-container">
        {% include '../../web/admin/navbar.html' %}
        <div class="ui grid divided">
            <div class="row">
                {% if admin.admin_type == "4" or admin.pk|has_p:"can_view_placements" == True %}
                <div class="eight wide column ting-admin-content-panel">
                    
                </div>
                <div class="four wide column ting-admin-orders-panel">
                    {% include '../../web/admin/sideplacements.html' %}
                </div>
                {% else %}
                <div class="twelve wide column ting-admin-content-panel">
                    
                </div>
                {% endif %}
                <div class="four wide column ting-admin-orders-panel">
                    {% include '../../web/admin/sideorders.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}