<div class="ting-user-location-values">
    <input type="hidden" id="ting-lat">
    <input type="hidden" id="ting-long">
    {% if is_logged_in == True %}
    <input type="hidden" id="ting-addr">
    {% endif %}
    <input type="hidden" id="ting-place">
    <input type="hidden" id="ting-country">
    <input type="hidden" id="ting-town">
    <input type="hidden" id="ting-ip">
    <input type="hidden" id="ting-tz">
    <input type="hidden" id="ting-currency">
    <script type="text/javascript">$(document).ready(function(){setTimeout(function(){if($("#ting-lat").val() != "" && $("#ting-lat").val() != null){getUserCurrentLocation("ting-lat", "ting-long", "ting-addr", "ting-town", "ting-country", "ting-user-address", "ting-place");}}, 3000)});</script>
</div>
<div class="ui secondary menu ting-no-p-right" style="border-bottom: 1px solid #DDD;">
    <div class="ui item ting-no-p-top">
        <div class="ting-profile-image-menu">
        	<img src="{{restaurant.logo.url}}" alt="{{restaurant.name}}">
        </div>
    </div>
    <a class="ui item" href="{% url 'ting_wb_adm_restaurant' %}" style="margin-top: -10px;">{{restaurant.name}}, {{admin.branch.name}}</a>
    <div class="right menu">
        <div class="item ting-no-p-top">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <div class="ui item ting-no-p-top">
        	<div class="ting-profile-image-menu">
        		<img src="{{admin.image.url}}" alt="{{admin.username}}">
        	</div>
        </div>

        <div class="ui right dropdown item" style="margin-top: -10px !important;">
		    <i class="icon cog"></i>
		  	<div class="menu">
		    	<div class="header">Admin Settings</div>
		    	<a class="item" href="{% url 'ting_wb_adm_admin_session' %}" style="align-self: flex-start; width: 100%"><i class="pencil icon"></i>Edit Profile</a>
		    	<a class="item" href="{% url 'ting_wb_adm_admin_permissions' %}" style="align-self: flex-start; width: 100%"><i class="clipboard list icon"></i>Privileges</a>
		    	<a class="item" href="{% url 'ting_wb_adm_admin_security' %}" style="align-self: flex-start; width: 100%"><i class="shield alternate icon"></i>Security</a>
		    	<a class="item" href="#" style="align-self: flex-start; width: 100%"><i class="history icon"></i>Recent Actions</a>
		  	</div>
		</div>
    </div>
</div>
