{% extends '../../layouts/header.html' %}
{% load staticfiles %}
{% load ting_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block js %}
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.min.js"></script>
<script src="{% static 'js/socket.js' %}"></script>
{% endblock %}
{% block title %}
    <title>Ting.com - Admin / Placements</title>
{% endblock %}
{% block content %}
{% include '../../web/admin/sidebar.html' %}
<div class="pusher">
    <div class="article ting-admin-container">
        {% include '../../web/admin/navbar.html' %}
        <div class="ui grid divided" style="margin-left: 10px;">
            <div class="row" style="padding-top: 0 !important;">
                <div class="twelve wide column ting-admin-content-panel">
                    
                    <div class="ui grid">
                        <div class="row ting-data-container-header">
                            <div class="twelve wide column">
                                <h1>Placements</h1>
                            </div>
                        </div>
                    </div>

                    <div class="ting-data-container" id="ting-data-placements-container">
                        <div class="ui right ting-loader" style="margin: 60px auto; text-align: center; padding: 40px 0;">
                            <img src="{% static 'imgs/loading.gif' %}">
                        </div>
                    </div>
                </div>
                <div class="four wide column ting-admin-orders-panel">
                    {% include '../../web/admin/sideorders.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">loadAjaxURL("ting-data-placements-container", window.__TING__URL__Load__Placements)</script>
{% endblock %}