{% extends '../../layouts/header.html' %}
{% load staticfiles %}
{% load ting_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block title %}
    <title>Ting.com - Admin / Promotions</title>
{% endblock %}
{% block content %}
{% include '../../web/admin/sidebar.html' %}
<div class="pusher">
    <div class="article ting-admin-container">
        {% include '../../web/admin/navbar.html' %}
        <div class="ui grid divided" style="margin-left: 10px;">
            <div class="row">
                <div class="twelve wide column">
                    
                    <div class="ui grid">
                        <div class="row ting-data-container-header">
                            <div class="twelve wide column">
                                <h1>Promotions</h1>
                            </div>
                             {% if admin.pk|has_p:"can_add_admin" == True %}
                            <div class="four wide column ting-no-p-right">
                                <button class="ui twitter button" style="float:right" id="ting-admin-add-new-promotion">
                                <i class="plus icon"></i>
                                    Add New Promotion
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="ting-data-container">
                        
                        <table class="ui single line table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Occasion</th>
                                    <th>Menu</th>
                                    <th>Day / Date</th>
                                    <th>Reduction</th>
                                    <th>Supplement</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if promotions.count > 0 %}
                                    {% for promo in promotions %}
                                        <tr>
                                            <td><div class="ui ribbon label">{{forloop.counter}}</div></td>
                                            <td>{{promo.occasion_event}}</td>
                                            <td>{% autoescape off %}{{promo.promo_type_html}}{% endautoescape %}</td>
                                            <td>{{promo.promo_period}}</td>
                                            <td>{{promo.reduction}}</td>
                                            <td>{% autoescape off %}{{promo.supplement_html}}{% endautoescape %}</td>
                                            <td>
                                                <div class="ui small blue labeled icon button ting-open-ajax-modal" ting-modal-type="ajax" ting-data-url="{% url 'ting_wb_adm_load_promotion' promo.pk %}" ting-modal-target="ting-load-promotion">
                                                    <i class="star icon"></i> Load
                                                </div>
                                                <div class="ui right dropdown item" style="margin-top: -10px !important;">
                                                    <i class="icon chevron down"></i>
                                                    <div class="menu">
                                                        <div class="header">Options</div>
                                                        {% if admin.pk|has_p:"can_update_promotion" == True %}
                                                        <a class="item ting-open-ajax-modal" ting-modal-type="ajax-form" ting-modal-form="ting-update-promotion-form" ting-data-url="{% url 'ting_wb_adm_edit_promotion' promo.pk %}" ting-modal-target="ting-admin-load-edit-promotion" style="align-self: flex-start; width: 100%"><i class="pencil alternate icon"></i> Edit</a>
                                                        {% endif %}
                                                        {% if admin.pk|has_p:"can_avail_promotion" == True %}
                                                        <a class="item ting-open-ajax-modal" ting-modal-type="confirm" ting-data-url="{% url 'ting_wb_adm_avail_promotion' promo.pk %}" ting-modal-target="ting-avail-promotion-{{promo.pk}}" style="align-self: flex-start; width: 100%">
                                                            {% if promo.is_on %}
                                                            <i class="times icon"></i> Off
                                                            {% else %}
                                                            <i class="check icon"></i> On
                                                            {% endif %}
                                                        </a>
                                                        {% endif %}
                                                        {% if admin.pk|has_p:"can_delete_promotion" == True %}
                                                        <a class="item ting-open-ajax-modal" ting-modal-type="confirm" ting-data-url="{% url 'ting_wb_adm_delete_promotion' promo.pk %}" ting-modal-target="ting-move-to-trash-{{promo.pk}}" style="align-self: flex-start; width: 100%"><i class="trash alternate outline icon"></i> Delete</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% if admin.pk|has_p:"can_avail_promotion" == True %}
                                        <div class="ui modal mini" data-modal="ting-avail-promotion-{{promo.pk}}">
                                            <div class="header">
                                                {% if promo.is_on %}
                                                    Switch Off Promotion
                                                {% else %}
                                                    Switch On Promotion
                                                {% endif %}
                                            </div>
                                            <div class="content">
                                                <p>Do you really want to switch {% if promo.is_on %} Off {% else %} On {% endif %} this promotion ?</p>
                                            </div>
                                            <div class="actions">
                                                <div class="ui positive button right labeled icon">
                                                    Yes
                                                    <i class="icon check"></i>
                                                </div>
                                                <div class="ui red deny button right labeled icon">
                                                    No
                                                    <i class="icon times"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if admin.pk|has_p:"can_delete_promotion" == True %}
                                        <div class="ui modal mini" data-modal="ting-move-to-trash-{{promo.id}}">
                                            <div class="header">
                                                Delete Promotion
                                            </div>
                                            <div class="content">
                                                <p>Do you really want to delete this promotion ?</p>
                                            </div>
                                            <div class="actions">
                                                <div class="ui positive button right labeled icon">
                                                    Yes
                                                    <i class="icon check"></i>
                                                </div>
                                                <div class="ui red deny button right labeled icon">
                                                    No
                                                    <i class="icon times"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <th colspan="9">
                                            <p class="ting-error">No Added Promotion</p>
                                        </th>
                                    </tr>
                                {% endif %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="9">
                                        <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="item">3</a>
                                            <a class="item">4</a>
                                            <a class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
                <div class="four wide column">
                    {% include '../../web/admin/sideorders.html' %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui modal" data-modal="ting-load-promotion">
    <div class="header">
        Promotion
    </div>
    <div class="content">
        <div class="ting-data-content"></div>
        <div class="ui right ting-loader" style="margin: auto; text-align: center;">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
    </div>
    <div class="actions">
        <div class="ui red deny button left">
            Close
        </div>
    </div>
</div>


<div class="ui modal" data-modal="ting-admin-load-edit-promotion">
    <div class="header">
        Edit Promotion
    </div>
    <div class="content scrolling">
        <div class="ting-data-content"></div>
        <div class="ui right ting-loader" style="margin: auto; text-align: center;">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
    </div>
    <div class="actions">
        <div class="ui right ting-loader ting-form-loader-else">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
        <button type="submit" class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </button>
        <div class="ui red deny button left">
            Close
        </div>
    </div>
</div>


{% if admin.pk|has_p:"can_add_admin" == True %}

<div class="ui modal" data-modal="ting-admin-add-new-promotion">
    <div class="header">
        Add Promotion
    </div>
    <div class="content">
        <div class="ting-search-place">
            <form class="ui form" action="{% url 'ting_wb_adm_add_promotion' %}" method="POST" id="ting-add-promotion-form" enctype="multipart/form-data" ting-multiple-select="ting-promotion-period">
                {% csrf_token %}
                <div class="field">
                    <label>Enter Promotion Occasion / Event :</label>
                    <input type="text" name="occasion_event" placeholder="Promotion Occasion / Event" required autocomplete="off">
                </div>
                <div class="field">
                    <label>Enter Promotion Description:</label>
                    <textarea name="description" class="ting-textarea-froala-editor" placeholder="Promotion Description" required></textarea>
                </div>
                <div class="field">
                    <label>Select Promotion On :</label>
                    <select id="ting-specific-menu-select" class="dropdown" name="promotion_menu_type">
                        {% for type in promotion_types %}
                            <option value="{{type.0}}">{{type.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Enter Promotion Specific Menu:</label>
                    <div class="ui fluid search selection dropdown disabled" id="ting-specific-menu-input">
                        <input type="hidden" name="menu">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Menu</div>
                        <div class="menu">
                            {% for menu in menus %}
                                <div class="item" data-value="{{menu.pk}}">
                                    <img class="ui mini avatar image" style="width: 30px; height: 30px;" src="{{menu.pk|menu_image}}">
                                    {{menu.pk|menu_name}}
                                    <span class="description">{{menu.pk|menu_type}}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Enter Promotion Specific Category:</label>
                    <div class="ui fluid search selection dropdown disabled" id="ting-specific-category-input">
                        <input type="hidden" name="category">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Category</div>
                        <div class="menu">
                            {% for category in categories %}
                                <div class="item" data-value="{{category.pk}}">
                                    <img class="ui mini avatar image" style="width: 30px; height: 30px;" src="{{category.image.url}}">
                                    {{category.name}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="is_special" id="ting-is-special">
                        <label style="line-height: 1.3 !important;">Is Promotion Special</label>
                    </div>
                </div>
                <div class="field">
                    <label>Select Promotion Special Time : </label>
                    <select class="ui fluid search dropdown" multiple="" id="ting-promotion-period">
                        {% for period in periods %}
                            <option value="{{period.0}}">{{period.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Enter Promotion Start Date :</label>
                            <div class="ui calendar"  id="ting-datepicker-start-date">
                                <div class="ui input">
                                    <input type="text" name="start_date" placeholder="Promotion Start Date" autocomplete="off" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Enter Promotion End Date :</label>
                            <div class="ui calendar"  id="ting-datepicker-end-date">
                                <div class="ui input">
                                    <input type="text" name="end_date" placeholder="Promotion End Date" autocomplete="off" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="has_reduction" id="ting-has-reduction">
                        <label style="line-height: 1.3 !important;">Promotion Has Reduction</label>
                    </div>
                </div>
                <div class="fields">
                    <div class="twelve wide field">
                        <label>Promotion Reduction Amount</label>
                        <input type="number" name="amount" id="ting-has-reduction-amount" placeholder="Promotion Reduction Amount" disabled>
                    </div>
                    <div class="four wide field">
                        <label>In</label>
                        <select class="dropdown" name="reduction_type" id="ting-has-reduction-type" disabled>
                            {% if restaurant.config.use_default_currency == True %}
                                <option value="{{restaurant.config.currency}}">{{restaurant.config.currency|from_t:currencies}}</option>
                            {% else %}
                                {% for currency in currencies %}
                                    <option value="{{currency.0}}">{{currency.1}}</option>
                                {% endfor %}
                            {% endif %}
                            <option value="%">Pourcentage (%)</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="has_supplement" id="ting-has-supplement">
                        <label style="line-height: 1.3 !important;">Promotion Has Supplement</label>
                    </div>     
                </div>
                <div class="field">
                    <label>Enter Minimum Quantity For Supplement :</label>
                    <input type="number" min="1" disabled name="supplement_min_quantity" id="ting-has-supplement-min-quantity" placeholder="Minimum Quantity For Supplement" autocomplete="off" disabled>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" disabled name="is_supplement_same" id="ting-has-supplement-same-menu">
                        <label style="line-height: 1.3 !important;">Is Supplement The Promoted Menu</label>
                    </div>     
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <label>Enter Supplement Menu:</label>
                        <div class="ui fluid search selection dropdown disabled" id="ting-has-supplement-supplement">
                            <input type="hidden" name="supplement">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Menu</div>
                            <div class="menu">
                                {% for menu in menus %}
                                    <div class="item" data-value="{{menu.pk}}">
                                        <img class="ui mini avatar image" style="width: 30px; height: 30px;" src="{{menu.pk|menu_image}}">
                                        {{menu.pk|menu_name}}
                                        <span class="description">{{menu.pk|menu_type}}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="six wide field">
                        <label>Enter Supplement Quantity:</label>
                        <input type="text" min="1" name="supplement_quantity" id="ting-has-supplement-quantity" placeholder="Supplement Quantity" autocomplete="off" disabled>
                    </div>
                </div>
                <div class="field ting-file-input">
                    <span>Add Promotion Poster</span>
                    <input type="file" name="poster_image" id="ting-single-image-input" accept=".jpg, .png, .jpeg" required>
                </div>
                <div class="ting-item-images-preview"><img style="display: none;" id="ting-single-image-preview"></div>
                <div class="ui indicating progress small ting-progress-form" style="display: none;" data-value="0" data-total="100">
                    <div class="bar"></div>
                </div>
                <div class="ting-action-modal">
                    <div class="actions">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                    </div>
                    <button type="submit" class="ui positive right labeled icon button">
                        Save
                        <i class="checkmark icon"></i>
                    </button>
                    <div class="ui right ting-loader ting-form-loader">
                        <img src="{% static 'imgs/loading.gif' %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#ting-specific-menu-select").change(function(){
            var value = $(this).val();
            if(value == "04"){$("#ting-specific-menu-input").removeClass("disabled").attr("required", "required");$("#ting-specific-category-input").addClass("disabled").removeAttr("required");}
            else if(value == "05"){$("#ting-specific-category-input").removeClass("disabled").attr("required", "required");$("#ting-specific-menu-input").addClass("disabled").removeAttr("required");}
            else {$("#ting-specific-menu-input").addClass("disabled").removeAttr("required");$("#ting-specific-category-input").addClass("disabled").removeAttr("required");}
        });
        $("#ting-has-reduction").click(function(){
            if($(this).is(":checked") == true){$("#ting-has-reduction-amount").removeAttr("disabled").attr("required", "required"); $("#ting-has-reduction-type").removeAttr("disabled").parent(".dropdown").removeClass("disabled");}
            else {$("#ting-has-reduction-amount").attr("disabled", "disabled").removeAttr("required"); $("#ting-has-reduction-type").attr("disabled", "disabled").parent(".dropdown").addClass("disabled");} 
        });
        $("#ting-has-supplement").click(function(){
            if($(this).is(":checked")){$("#ting-has-supplement-min-quantity, #ting-has-supplement-quantity").removeAttr("disabled").attr("required", "required");$("#ting-has-supplement-same-menu").removeAttr("disabled"); $("#ting-has-supplement-supplement").removeClass("disabled");} 
            else {$("#ting-has-supplement-min-quantity, #ting-has-supplement-quantity").attr("disabled", "disabled").removeAttr("required");$("#ting-has-supplement-same-menu").attr("disabled", "disabled");$("#ting-has-supplement-supplement").addClass("disabled"); $("#ting-has-supplement-supplement").addClass("disabled");}
            if($("#ting-has-supplement-same-menu").is(":checked") == false){$("#ting-has-supplement-same-menu").removeAttr("checked");}
        });
        $("#ting-has-supplement-same-menu").click(function(){
            if($(this).is(":checked") == false){$("#ting-has-supplement-supplement").removeClass("disabled");}
            else {$("#ting-has-supplement-supplement").addClass("disabled");   }
        });
        $("#ting-is-special").click(function(){
            if($(this).is(":checked")){$("input[name=start_date], input[name=end_date]").removeAttr("disabled").attr("required", "required");$("#ting-promotion-period").attr("disabled", "disabled").parent(".dropdown").addClass("disabled");} 
            else {$("input[name=start_date], input[name=end_date]").removeAttr("required").attr("disabled", "disabled");$("#ting-promotion-period").removeAttr("disabled").parent(".dropdown").removeClass("disabled");}
        });
    });
</script>

{% endblock %}