{% extends '../navbar.html' %}
{% load staticfiles %}
{% block body %}

<section>
	<div class="container-fluid">
		<div class="align-items-center d-flex no-padding">
			<div class="col-lg-4" style="margin: 50px auto;">
				<h2 style="margin-bottom: 30px;">Reset Password</h2>
				<div class="content">
			        <div class="ting-search-place">
			            <form class="ui form" action="{% url 'ting_wb_adm_reset_pwd' token %}" method="POST">
			                {% csrf_token %}
			                <div class="field">
			                    <label>Enter New Password :</label>
			                    <input type="password" name="password" placeholder="New Password" required autocomplete="off">
			                </div>
			                <div class="field">
			                    <label>Confirm New Password :</label>
			                    <input type="password" name="confirm_password" placeholder="Confirm New Password" required autocomplete="off">
			                </div>
			                
			                <button type="submit" class="ui positive right labeled icon button">
			                    Submit
			                    <i class="checkmark icon"></i>
			                </button>
			            </form>
			        </div>
			    </div>
			</div>
		</div>
	</div>	
</section>

{% endblock %}