{% extends '../../layouts/header.html' %}
{% load staticfiles %}
{% load ting_tags %}
{% load tz %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block js %}
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.min.js"></script>
<script src="{% static 'js/socket.js' %}"></script>
{% endblock %}
{% block title %}
    <title>Ting.com - Admin / Session Profile</title>
{% endblock %}
{% block content %}
{% include '../../web/admin/sidebar.html' %}
<div class="pusher">
    <div class="article ting-admin-container">
        {% include '../../web/admin/navbar.html' %}
        <div class="ui grid divided" style="margin-left: 10px;">
            <div class="row">
                <div class="twelve wide column ting-admin-content-panel">
                    
                    <div class="row justify-content-start align-items-center d-flex ting-restaurant-about-mini">
                        <div class="" style="padding-left: 2rem;">
                            <div class="ting-profile-image">
                                <div class="ting-profile-image-container">
                                    <div class="box ting-session-profile-image">
                                        <div class="item light ting-session-profile-image">
                                            <a href="#"><img class="ting-session-profile-image-img" src="{{admin.image.url}}" alt="{{admin.username}}" class="w-full" id="ting-profile-image"></a>
                                                <div id="ting-image-overlay" class="item-overlay black-overlay w-full">
                                                <a href="#" id="ting-open-profile-img-input" class="center text-md">
                                                    <span id="ting-image-icon" class="lnr lnr-camera" style="font-size:45px; color:white;"></span>
                                                    <span id="ting-image-load" style="display:none;"><i class="fa circle-o-notch fa-spinner" style="font-size:45px; color:white;"></i></span>
                                                </a>
                                                <form id="ting-session-profile-image-update" method="POST" action="{% url 'ting_wb_adm_admin_update_image' %}" data-image="{{admin.image.url}}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="file" name="image" id="ting-profile-img-input" accept="image/jpg, image/png, image/jpeg">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ting-restaurant-name" style="padding-left: 2rem;">
                            <h2>{{admin.name}}</h2>
                            <p style="font-weight: 100;">{{admin.username}}</p>
                            <p><i class="icon mail alternate"></i> {{admin.email}}</p>
                        </div>
                    </div>


                    <div class="ting-restaurant-about">

                        <div class="row justify-content-start d-flex no-padding">
                            <div class="col-lg-6">
                                <h3>ABOUT</h3>

                                <div class="ting-restaurant-about-data">
                                    <p><i class="icon user"></i>{{admin.name}}</p>
                                    <p><i class="icon user outline"></i>{{admin.username}}</p>
                                    <p><i class="icon mail"></i>{{admin.email}}</p>
                                    <p><i class="icon phone"></i>{{admin.phone|none}}</p>
                                    <p><i class="icon id badge"></i>{{admin.badge_number|none}}</p>
                                    <p><i class="icon street view"></i>{{admin.admin_type_str}}</p>
                                    <p><i class="icon clock"></i>{{admin.created_at|localtime}}</p>
                                </div>
                                {% if admin.pk|has_p:"can_update_admin" == True %}
                                <button class="large ui button left icon positive labeled" id="ting-admin-edit-profile">
                                    <i class="icon pencil"></i>
                                    Edit Profile
                                </button>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                </div>
                <div class="four wide column ting-admin-orders-panel">
                    {% include '../../web/admin/sideorders.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if admin.pk|has_p:"can_update_admin" == True %}

<div class="ui small modal" data-modal="ting-admin-edit-profile">
    <div class="header">
        Edit Profile
    </div>
    <div class="content">
        <div class="ting-search-place">
            <form class="ui form" action="{% url 'ting_wb_adm_admin_update_profile' admin.token %}" method="POST" id="ting-admin-edit-profile-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>Enter Name :</label>
                    <input type="text" name="name" placeholder="Admin Name" value="{{admin.name}}" required autocomplete="off">
                </div>
                <div class="field">
                    <label>Enter Username :</label>
                    <input type="text" name="username" placeholder="Admin Username" value="{{admin.username}}" autocomplete="off">
                </div>
                <div class="field">
                    <label for="">Enter Email Address : </label>
                    <div class="ui action input">
                        <input type="text" name="email" value="{{admin.email}}" placeholder="Admin Email Address" autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Select Admin Type :</label>
                            <select class="dropdown" name="admin_type">
                                {% for type in types %}
                                    {% if admin.admin_type == type.0 %}
                                        <option value="{{type.0}}" selected>{{type.1}}</option>
                                    {% else %}
                                        <option value="{{type.0}}">{{type.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label>Enter Admin Badge Number :</label>
                            <input type="text" name="badge_number" placeholder="Admin Badge Number" value="{{admin.badge_number|none}}" autocomplete="off" required>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Enter Administrator Phone :</label>
                    <input type="text" name="phone" placeholder="Administrator Phone" value="{{admin.phone}}" autocomplete="off" required>
                </div>
                <div class="field">
                    <label>Enter Administrator Password :</label>
                    <input type="password" name="password" placeholder="Administrator Password" autocomplete="off" required>
                </div>
                <div class="ting-action-modal">
                    <div class="actions">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                    </div>
                    <button type="submit" class="ui positive right labeled icon button" id="ting-save-edit-admin-profile">
                        Save
                        <i class="checkmark icon"></i>
                    </button>
                    <div class="ui right ting-loader ting-form-loader">
                        <img src="{% static 'imgs/loading.gif' %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}