{% load staticfiles %}
{% load ting_tags %}
<div class="ting-user-location-values">
    <input type="hidden" id="ting-lat">
    <input type="hidden" id="ting-long">
    {% if is_logged_in == True %}
    <input type="hidden" id="ting-addr">
    {% endif %}
    <input type="hidden" id="ting-place">
    <input type="hidden" id="ting-country">
    <input type="hidden" id="ting-town">
    <input type="hidden" id="ting-ip">
    <input type="hidden" id="ting-tz">
    <input type="hidden" id="ting-currency">
    <script type="text/javascript">
        window.__TING__Administrator = {{admin_json|safe}}
        window.__TING__URL__Load__Placements = decodeURI("{% url 'ting_wb_adm_load_placements' %}");
        window.__TING__URL__Get__Placements = decodeURI("{% url 'ting_wb_adm_placements' %}");
        window.__TING__URL__Load__Dash__Placements = decodeURI("{% url 'ting_wb_adm_load_placements_dashboard' %}");
        window.__TING__URL__Load__Dash__Orders = decodeURI("{% url 'ting_wb_adm_load_orders_dashboard' %}");
        window.__TING__URL__Load__Admin__Messages = decodeURI("{% url 'ting_wb_adm_load_messages' %}");
        window.__TING__URL__Load__Admin__Messages__Count = decodeURI("{% url 'ting_wb_adm_get_messages_count' %}");
        $(document).ready(function(){
            setTimeout(function(){
                if($("#ting-lat").val() != "" && $("#ting-lat").val() != null){
                    getUserCurrentLocation("ting-lat", "ting-long", "ting-addr", "ting-town", "ting-country", "ting-user-address", "ting-place");
                }
            }, 3000)
        });
    </script>
    <style type="text/css">
        body { width: 100vw; height: 100vh; overflow: hidden;  }
    </style>
</div>
<div class="ui modal ting-load-placement" data-modal="ting-load-placement">
    <div class="header">
        Placement
    </div>
    <div class="content scrolling">
        <div class="ting-data-content"></div>
        <div class="ui right ting-loader" style="margin: auto; text-align: center;">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
    </div>
    <div class="actions">
        <div class="ui red deny button left">
            Close
        </div>
    </div>
</div>
<div class="ui small modal ting-load-order" data-modal="ting-load-order">
    <div class="header">
        Order
    </div>
    <div class="content scrolling">
        <div class="ting-data-content"></div>
        <div class="ui right ting-loader" style="margin: auto; text-align: center;">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
    </div>
    <div class="actions">
        <div class="ui red deny button left">
            Close
        </div>
    </div>
</div>
<div class="ui visible sidebar inverted vertical menu" style="width: 250px; overflow: visible !important;">
    <div class="ting-menu-logo" style="margin-top:40px;">
        <div class="ui item ting-no-p-top">
            <div class="ting-profile-image-menu">
                <img src="{{restaurant.logo.url}}" alt="{{restaurant.name}}" style="width: 85px; height: 85px; margin: auto; border-width: 3px;">
            </div>
        </div>
        <a href="{% url 'ting_wb_adm_restaurant' %}">
            <p style="font-size: 20px; font-weight: bold; color: #FFF; margin-top: 10px;">{{restaurant.name}}</p>
            <p style="color: #EEE; margin-top: -10px;">{{admin.branch.name}}</p>
        </a>
    </div>
    <div class="ting-side-menu">
        <div class="ting-side-menu-items">
            <div class="ting-menu-item active">
                <a href="{% url 'ting_wb_adm_dashboard' %}">
                    <div class="ting-menu-icon">
                        <i class="home link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Dashboard</p>
                    </div>
                </a>
            </div>
            {% if admin.pk|has_p:"can_view_branch" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_branches' %}">
                    <div class="ting-menu-icon">
                        <i class="sitemap link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Branches</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_category" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_categories' %}">
                    <div class="ting-menu-icon">
                        <i class="boxes link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Categories</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_menu" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_menu_food' %}">
                    <div class="ting-menu-icon">
                        <i class="utensils link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Menus</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_promotion" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_promotions' %}">
                    <div class="ting-menu-icon">
                        <i class="star link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Promotions</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_admin" == True or admin.pk|has_p:"can_view_all_admin" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_administrators' %}">
                    <div class="ting-menu-icon">
                        <i class="user link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Administrators</p>
                    </div>
                </a>
            </div>
            {% endif %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_restaurant' %}">
                    <div class="ting-menu-icon">
                        <i class="map marker alternate link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Restaurant</p>
                    </div>
                </a>
            </div>
            {% if admin.pk|has_p:"can_view_table" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_tables' %}">
                    <div class="ting-menu-icon">
                        <i class="fas fa-chair link" style="display: inline-block; opacity: .8; margin: 0 .25rem 0 0; width: 1.18em;height: 1em;"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Tables</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_booking" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_reservations' %}">
                    <div class="ting-menu-icon">
                        <i class="clipboard list link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Reservations</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_placements" == True %}
            <div class="ting-menu-item">
                <a href="{% url 'ting_wb_adm_placements' %}">
                    <div class="ting-menu-icon">
                        <i class="dot circle link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Placements</p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if admin.pk|has_p:"can_view_reports" == True %}
            <div class="ting-menu-item ui left pointing dropdown">
                <a href="#">
                    <div class="ting-menu-icon">
                        <i class="chart line link icon"></i>
                    </div>
                    <div class="ting-menu-legend">
                        <p>Reports</p>
                    </div>
                </a>
                <div class="menu">
                    <div class="item">
                        <a href="{% url 'ting_wb_adm_reports_incomes' %}" style="color: #333333;"><i class="icon clipboard outline"></i>Incomes</a>
                    </div>
                    <div class="item">
                        <a href="{% url 'ting_wb_adm_reports_waiters' %}" style="color: #333333;"><i class="icon user link"></i>Waiters</a>
                    </div>
                    <div class="item">
                        <a href="{% url 'ting_wb_adm_reports_menus' %}" style="color: #333333;"><i class="icon utensils link"></i>Menus</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>