{% extends '../../layouts/header.html' %}
{% load staticfiles %}
{% load ting_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block js %}
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.min.js"></script>
<script src="{% static 'js/socket.js' %}"></script>
{% endblock %}
{% block title %}
    <title>Ting.com - Admin / Tables</title>
{% endblock %}
{% block content %}
{% include '../../web/admin/sidebar.html' %}
<div class="pusher">
    <div class="article ting-admin-container">
        {% include '../../web/admin/navbar.html' %}
        <div class="ui grid divided" style="margin-left: 10px;">
            <div class="row">
                <div class="twelve wide column ting-admin-content-panel">
                    
                    <div class="ui grid">
                        <div class="row ting-data-container-header">
                            <div class="twelve wide column">
                                <h1>Tables</h1>
                            </div>
                             {% if admin.pk|has_p:"can_add_table" == True %}
                            <div class="four wide column ting-no-p-right">
                                <button class="ui twitter button" style="float:right" id="ting-admin-add-new-table">
                                <i class="plus icon"></i>
                                    Add New Table
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="ting-data-container">
                        
                        <table class="ui single line table">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Location</th>
                                    <th>Chair Type</th>
                                    <th>Max People</th>
                                    <th>Default Waiter</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if tables.count > 0 %}
                                    {% for table in tables %}
                                        <tr>
                                            <td><div class="ui ribbon label">{{table.number}}</div></td>
                                            <td>{{table.location_str}}</td>
                                            <td>{{table.chair_type_str}}</td>
                                            <td>{{table.max_people}}</td>
                                            <td>
                                                <div class="ui small labeled icon top right pointing dropdown button">
                                                    <i class="user icon"></i>
                                                    <span class="text">{% if table.waiter != None %}<img src="{{table.waiter.image.url}}" class="avatar" style="width: 30px;">{{table.waiter.name}} {% else %} Waiter {% endif %}</span>
                                                    {% if admin.pk|has_p:"can_update_table" == True %}
                                                    <div class="menu">
                                                        <div class="ui search icon input">
                                                            <i class="search icon"></i>
                                                            <input type="text" name="search" placeholder="Search Waiter...">
                                                        </div>
                                                        <div class="divider"></div>
                                                        <div class="header">
                                                            <i class="user icon"></i>
                                                            Waiters
                                                        </div>
                                                        {% if waiters.count > 0 %}
                                                            {% for waiter in waiters %}
                                                                <a class="item ting-open-ajax-modal" ting-modal-type="confirm" ting-data-url="{% url 'ting_wb_adm_assign_waiter_table' waiter.pk table.pk %}" ting-modal-target="ting-add-waiter-to-table-{{table.id}}"><img src="{{waiter.image.url}}" class="avatar" style="width: 30px;">{{waiter.name}}</a>
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% if table.waiter != None %}
                                                        <div class="divider"></div>
                                                        <a class="item ting-open-ajax-modal red" ting-modal-type="confirm" ting-data-url="{% url 'ting_wb_adm_remove_waiter_table' table.pk %}" ting-modal-target="ting-remove-waiter-to-table-{{table.id}}" style="color: #db2828;"><i class="icon trash outline alternate red"></i> Remove</a>
                                                        {% endif %}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ui right pointing dropdown item button" style="margin-top: -10px !important;">
                                                    <i class="icon chevron down"></i>
                                                    <div class="menu">
                                                        <div class="header">Options</div>
                                                        {% if admin.pk|has_p:"can_update_table" == True %}
                                                        <a class="item ting-open-ajax-modal" ting-modal-type="ajax-form" ting-modal-form="ting-admin-edit-table-form" ting-data-url="{% url 'ting_wb_adm_load_edit_table' table.pk %}" ting-modal-target="ting-admin-edit-table" style="align-self: flex-start; width: 100%"><i class="pencil alternate icon"></i> Edit</a>
                                                        {% endif %}
                                                        {% if admin.pk|has_p:"can_avail_table" == True %}
                                                        <a class="item ting-open-ajax-modal" ting-modal-type="confirm" ting-data-url="{% url 'ting_wb_adm_avail_toggle_table' table.pk %}" ting-modal-target="ting-admin-avail-table-toggle-{{table.id}}" style="align-self: flex-start; width: 100%">
                                                            {% if table.is_available %}
                                                            <i class="times icon"></i> Unavail
                                                            {% else %}
                                                            <i class="check icon"></i> Avail
                                                            {% endif %}
                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="ui small blue labeled icon button ting-open-ajax-modal" id="ting-table-qr-code-{{table.id}}">
                                                    <i class="qrcode icon"></i> Load
                                                </div>
                                            </td>
                                        </tr>
                                        {% if admin.pk|has_p:"can_avail_table" == True %}
                                        <div class="ui modal mini" data-modal="ting-admin-avail-table-toggle-{{table.id}}">
                                            <div class="header">
                                                {% if table.is_available %}
                                                    Unavail Table
                                                {% else %}
                                                    Avail Table
                                                {% endif %}
                                            </div>
                                            <div class="content">
                                                <p>Do you really want to {% if table.is_available %} Unavail {% else %} Avail {% endif %} this table ?</p>
                                            </div>
                                            <div class="actions">
                                                <div class="ui positive button right labeled icon">
                                                    Yes
                                                    <i class="icon check"></i>
                                                </div>
                                                <div class="ui red deny button right labeled icon">
                                                    No
                                                    <i class="icon times"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if admin.pk|has_p:"can_update_table" == True %}
                                            <div class="ui modal mini" data-modal="ting-add-waiter-to-table-{{table.id}}">
                                                <div class="header">
                                                    Assign Default Waiter To Table
                                                </div>
                                                <div class="content">
                                                    <p>Do you really want to assign this waiter to this table ?</p>
                                                </div>
                                                <div class="actions">
                                                    <div class="ui positive button right labeled icon">
                                                        Yes
                                                        <i class="icon check"></i>
                                                    </div>
                                                    <div class="ui red deny button right labeled icon">
                                                        No
                                                        <i class="icon times"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui modal mini" data-modal="ting-remove-waiter-to-table-{{table.id}}">
                                                <div class="header">
                                                    Remove Default Waiter To Table
                                                </div>
                                                <div class="content">
                                                    <p>Do you really want to remove default waiter to this table ?</p>
                                                </div>
                                                <div class="actions">
                                                    <div class="ui positive button right labeled icon">
                                                        Yes
                                                        <i class="icon check"></i>
                                                    </div>
                                                    <div class="ui red deny button right labeled icon">
                                                        No
                                                        <i class="icon times"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="ui modal tiny" data-modal="ting-table-qr-code-{{table.id}}">
                                            <div class="header">
                                                Table's QR Code
                                            </div>
                                            <div class="content">
                                                 <img style="width: 100%;" src="http://api.qrserver.com/v1/create-qr-code/?size=600x600&data={{ table.uuid }}" />
                                            </div>
                                            <div class="actions">
                                                <a href="http://api.qrserver.com/v1/create-qr-code/?size=600x600&data={{ table.uuid }}&download=1" download="{{restaurant.name_hi}}-{{admin.branch.name_hi}}-table-{{table.number}}" class="ui positive button right labeled icon">
                                                    Download
                                                    <i class="icon download"></i>
                                                </a>
                                                <div class="ui red deny button right labeled icon">
                                                    Close
                                                    <i class="icon times"></i>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <th colspan="9">
                                            <p class="ting-error">No Added Table</p>
                                        </th>
                                    </tr>
                                {% endif %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="9">
                                        <div class="ui right floated pagination menu">
                                            <a class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                            <a class="item">1</a>
                                            <a class="item">2</a>
                                            <a class="item">3</a>
                                            <a class="item">4</a>
                                            <a class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
                <div class="four wide column ting-admin-orders-panel">
                    {% include '../../web/admin/sideorders.html' %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui small modal" data-modal="ting-admin-edit-table">
    <div class="header">
        Edit Table
    </div>
    <div class="content">
        <div class="ting-data-content"></div>
        <div class="ui right ting-loader" style="margin: auto; text-align: center;">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
    </div>
    <div class="actions">
        <div class="ui right ting-loader ting-form-loader-else">
            <img src="{% static 'imgs/loading.gif' %}">
        </div>
        <button type="submit" class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </button>
        <div class="ui red deny button left">
            Close
        </div>
    </div>
</div>


{% if admin.pk|has_p:"can_add_table" == True %}

<div class="ui small modal" data-modal="ting-admin-add-new-table">
    <div class="header">
        Add Table
    </div>
    <div class="content">
        <div class="ting-search-place">
            <form class="ui form" action="{% url 'ting_wb_adm_add_table' %}" method="POST" id="ting-add-table-form">
                {% csrf_token %}
                <div class="field">
                    <label>Enter Table Number :</label>
                    <input type="text" name="number" placeholder="Table Number" required autocomplete="off">
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Enter Maximum Number Of People :</label>
                            <input type="number" name="max_people" placeholder="Maximum Number Of People" required autocomplete="off">
                        </div>
                        <div class="field">
                            <label>Enter Default Waiter (Not Required):</label>
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="waiter">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select Waiter</div>
                                <div class="menu">
                                    {% for waiter in waiters %}
                                        <div class="item" data-value="{{waiter.pk}}">
                                            <img class="ui mini avatar image" style="width: 30px; height: 30px;" src="{{waiter.image.url}}">
                                            {{waiter.name}}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Select Location :</label>
                            <select class="dropdown" name="location">
                                {% for location in locations %}
                                    <option value="{{location.0}}">{{location.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label>Select Chair Type :</label>
                            <select class="dropdown" name="chair_type">
                                {% for type in types %}
                                    <option value="{{type.0}}">{{type.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Enter Table Description :</label>
                    <textarea name="description" placeholder="Table Description" required></textarea>
                </div>
                <div class="ting-action-modal">
                    <div class="actions">
                        <div class="ui red deny button">
                            Cancel
                        </div>
                    </div>
                    <button type="submit" class="ui positive right labeled icon button">
                        Save
                        <i class="checkmark icon"></i>
                    </button>
                    <div class="ui right ting-loader ting-form-loader">
                        <img src="{% static 'imgs/loading.gif' %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}