{% extends '../../navbar.html' %}
{% load static %}
{% load ting_tags %}
{% load humanize %}
{% block title %}
<title>Ting.com - {{user.name}}</title>
{% endblock %}
{% block body %}
<div class="ting-user-top-fixed-menu">
	<div class="container">
		<div class="ui grid">
			<div class="row">
				<div class="col-lg-3">
					<img src="{{user.image.url}}" alt="{{user.username}}">
					<p class="ting-username">{{user.username}}</p>
				</div>
				<div class="col-lg-9">
					<div class="ui secondary pointing menu">
						{% if is_logged_in == True and user.pk == session.pk %}
					  	<a href="{% url 'ting_usr_profile' session.pk session.username|lower %}" class="item">
					   		Profile
					  	</a>
					  	{% endif %}
					  	<a href="{% url 'ting_usr_moments' user.pk user.username|lower %}" class="item">
					    	Moments
					  	</a>
					  	<a href="{% url 'ting_usr_restaurants' user.pk user.username|lower %}" class="item">
					    	Restaurants
					  	</a>
					  	{% if is_logged_in == True and user.pk == session.pk %}
					  	<a href="{% url 'ting_usr_orders' session.pk session.username|lower %}" class="item">
					    	Orders
					  	</a>
					  	<a href="{% url 'ting_usr_bookings' session.pk session.username|lower %}" class="item active">
					    	Bookings
					  	</a>
					  	{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="container">
	<div class="ting-user-container">
		<div class="ui grid">
			<div class="row">
				<div class="col-lg-3">
					{% include '../user/user_about.html' %}
				</div>
				<div class="col-lg-9">
					<div class="ui secondary pointing menu">
						{% if is_logged_in == True and user.pk == session.pk %}
					  	<a href="{% url 'ting_usr_profile' session.pk session.username|lower %}" class="item">
					   		Profile
					  	</a>
					  	{% endif %}
					  	<a href="{% url 'ting_usr_moments' user.pk user.username|lower %}" class="item">
					    	Moments
					  	</a>
					  	<a href="{% url 'ting_usr_restaurants' user.pk user.username|lower %}" class="item">
					    	Restaurants
					  	</a>
					  	{% if is_logged_in == True and user.pk == session.pk %}
					  	<a href="{% url 'ting_usr_orders' session.pk session.username|lower %}" class="item">
					    	Orders
					  	</a>
					  	<a href="{% url 'ting_usr_bookings' session.pk session.username|lower %}" class="item active">
					    	Bookings
					  	</a>
					  	{% endif %}
					</div>
					<div class="ui">
					  	<secltion class="ting-restaurants-list-container">
							<div class="container" style="padding: 0" id="ting-menus-container">
								<div class="ui grid">
									<div class="row">
										<div class="nine wide column"><h2 style="font-size: 25px;">User's Reservations</h2></div>
										<div class="seven wide column" style="padding: 0; text-align: right;">
											<h2>{{session.bookings_count|intcomma}} {% if session.bookings_count == 1 %}Reservation{% else %}Reservations{% endif %}</h2>
										</div>
									</div>
								</div>
								<hr style="margin-bottom: 0;" />
								<div class="ting-restaurants-list" id="ting-menus-list" style="padding-bottom: 0px;">
									<div class="ui right ting-loader" style="margin: auto; text-align: center; padding: 40px 0;">
							            <img src="{% static 'imgs/loading.gif' %}">
							        </div>
								</div>
							</div>
						</secltion>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	window.__TING__Session = {{session_json|safe}}
	window.__TING__User = {{user_json|safe}}
	window.__TING__Link = {type: "user", name: "bookings"} || {};
	window.__TING__Token = $("input[name=csrfmiddlewaretoken]").val() || null;
</script>
{% endblock %}