{% extends '../../navbar.html' %}
{% load static %}
{% block title %}
<title>Ting.com - Drinks / {{restaurant.restaurant.name}}, {{restaurant.name}}</title>
{% endblock %}
{% block body %}
<div class="ting-user-top-fixed-menu">
	<div class="container">
		<div class="ui grid">
			<div class="row">
				<div class="col-lg-3">
					<img src="{{restaurant.restaurant.logo.url}}" alt="{{restaurant.name}}">
					<p class="ting-username">{{restaurant.restaurant.name}}</p>
				</div>
				<div class="col-lg-9">
					<div class="ui secondary pointing menu">
					  	<a href="{% url 'ting_usr_get_restaurant_promotions' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Promotions
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_foods' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Foods
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_drinks' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item active">
					   		Drinks
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_dishes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Dishes
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_reviews' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Reviews
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_likes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Likes
					  	</a>
					  	
					  	<a href="{% url 'ting_usr_get_restaurant_about' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	About
					  	</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="container">
	<div class="ting-user-container">
		<div class="ui grid">
			<div class="row">
				<div class="col-lg-3">
					{% include '../restaurant/restaurant_about.html' %}
				</div>
				<div class="col-lg-9">
					<div class="ui secondary pointing menu">
					  	<a href="{% url 'ting_usr_get_restaurant_promotions' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Promotions
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_foods' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Foods
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_drinks' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item active">
					   		Drinks
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_dishes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Dishes
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_reviews' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Reviews
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_likes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Likes
					  	</a>
					  	
					  	<a href="{% url 'ting_usr_get_restaurant_about' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	About
					  	</a>
					</div>
					<div class="ui">
					  	<secltion class="ting-restaurants-list-container">
							<div class="container" style="padding: 0" id="ting-menus-container">
								<div class="ui grid">
									<div class="row">
										<div class="nine wide column"><h2 style="font-size: 25px;">Filter By Category</h2></div>
										<div class="seven wide column" style="padding: 0;">
											<select class="ui dropdown fluid" id="ting-food-groups">
												<option value="0">All</option>
												{% for type in types %}
													<option value="{{type.0}}">{{type.1}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="ting-restaurants-list" id="ting-menus-list" style="padding-bottom: 0px;">
									<div class="ui right ting-loader" style="margin: auto; text-align: center; padding: 40px 0;">
							            <img src="{% static 'imgs/loading.gif' %}">
							        </div>
								</div>
							</div>
						</secltion>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	window.__TING__Session = {{session_json|safe}}
	window.__TING__Restaurant = {{restaurant_json|safe}}
	window.__TING__Menus = {{menus_json|safe}}
	window.__TING__Link = {type: "restaurant", name: "drinks"} || {};
	window.__TING__Token = $("input[name=csrfmiddlewaretoken]").val() || null;
	window.__TING__URL_Like = decodeURI("{% url 'ting_usr_like_restaurant_toggle' '{restaurant}' '{branch}' %}");
	window.__TING__URL_Load_Branch_Directions = decodeURI("{% url 'ting_usr_load_branch_directions' '{restaurant}' '{branch}' %}");
	window.__TING__URL_Menus_Cuisine = decodeURI("{% url 'ting_usr_get_restaurant_menus_cuisine' '{branch}' '{cuisine}' '{slug}' %}");
	window.__TING__URL_Menus_Category = decodeURI("{% url 'ting_usr_get_restaurant_menus_category' '{branch}' '{category}' '{slug}' %}");
	window.__TING__URL_Loader_Image = "{% static 'imgs/loading.gif' %}";
	window.__TING__URL__Menu__Today__Promotion = decodeURI("{% url 'ting_usr_load_menu_today_promotion' '{menu}' %}");
</script>
{% endblock %}