/*  THIS STYLE SHEET BELONGS TO TING.COM
    Author: Ir Christian Scott -> Code Pipes Solutions
    Date : 23 April 2019
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
label,
input,
button,
li, ol, ul,
textarea{
    font-family: Poppins, Avenir, 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #666666;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

a, input{
    outline: none !important;
}

table thead tr th{
    text-transform: uppercase !important;
    text-align: center !important;
}

table tbody tr td{
    text-align: center !important;
}

table tbody tr td img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .1);
}

table{
    white-space: normal !important;
}

textarea{
    resize: none !important;
}

:root{
    --primaryColor: #b56fe8;
    --secondaryColor: #908ced;
}

.ting-app-name,
.ting-app-name * {
    font-size: 24px;
    font-weight: normal;
    padding: 0 !important;
}

.ting-link-header {
    padding: 8px 25px !important;
}

.ting-link-header:hover {
    color: white !important;
}

.ting-menu-icon i {
    font-size: 18px;
}

.ting-bold{
    font-size: inherit !important;
    font-weight: bold !important;
    color: inherit !important;
}

.ting-logo{
    margin-top: 15px;
}

.ting-logo h1{
    color: var(--secondaryColor);
    font-size: 40px;
}

.ting-primary-bg{
    background: var(--primaryColor) !important;
}

.ting-primary-color{
    color: var(--primaryColor) !important;
}

.ting-secondary-bg{
    background: var(--secondaryColor) !important;
}

.ting-secondary-color{
    color: var(--secondaryColor) !important;
}

.ting-theme-bg{
    background-image: -moz-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    background-image: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    background-image: -ms-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
}

.ting-error{
    color: red;
    font-size: 17px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}

.ting-data-container{
    margin-top: 2.5rem;
}

.ting-data-container{
    white-space: normal !important;
}

.ting-admin-container{
    padding: 50px;
    margin-left: 15rem;
    padding-bottom: 0px;
    padding-top: 0px;
}

.ting-menu-logo{
    display: block;
    position: relative;
    padding: 10px;
    text-align: center;
}

.ting-menu-logo img{
    width: 50px;
}

.ting-menu-logo h3{
    color: #ffffff;
    margin-top: 8px;
    font-size: 30px;
    font-weight: 500;
}

.ting-side-menu{
    display: block;
    position: relative;
    padding: 10px 0;
    margin-top: 20px;
}

.ting-side-menu .ting-side-menu-items{
    display: block;
    position: relative;
}

.ting-side-menu .ting-side-menu-items .ting-menu-item{
    display: block;
    padding: 15px 10px;
    cursor: pointer;
}

.ting-side-menu .ting-side-menu-items .ting-menu-item:hover{
    background: #333333;
}

.ting-side-menu .ting-side-menu-items .ting-menu-item .ting-menu-icon{
    float: left;
    margin-right: 8px;
}

.ting-side-menu .ting-side-menu-items .ting-menu-item .ting-menu-icon i{
    font-size: 26px;
    color: #ffffff;
}

.ting-side-menu .ting-side-menu-items .ting-menu-item .ting-menu-legend p{
    color: #ffffff;
    font-size: 17px;
}

.ting-search-place{
    width: 100%;
}

.ting-map-container{
    width: 100%;
    margin-top: 20px;
}

.ting-map-container .ting-restaurant-map-container {
    width: calc(100% - 2px);
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    height: 400px;
}

.pac-item {
    padding: 8px 6px !important;
    font-size: 14px !important;
    font-family: "Poppins" !important;
}

.pac-container {
    margin-top: 5px !important;
    z-index: 1000000000 !important;
}

.pac-logo::after {
    display: none !important;
}

.ting-action-modal{
    margin-top: 1.5rem;
    height: 36px;
    border-bottom-left-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
}

.ting-action-modal .actions{
    width: 93px;
    border-bottom-left-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
}

.ting-action-modal .actions .button{
    margin: 0 !important;
}

.ting-action-modal button{
    position: absolute;
    left: 113px;
    top: -36px;
}

.ting-file-input{
    position: relative;
}

.ting-file-input span{
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    display: block;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.ting-file-input input{
    position: absolute;
    cursor: pointer;
    top: 0px;
    opacity: 0;
}

.fr-element {
    min-height: 230px !important;
}

.fr-element ul{
    list-style: initial !important;
    margin-left: 15px !important;
}

.fr-element ol{
    list-style: binary !important;
    margin-left: 15px !important;
}

.fr-toolbar{
    border-top: 2px solid #000000 !important;
}

.ting-loader img{
    width: 20px;
    height: 20px;
}

.ting-form-loader{
    display: none;
    position: absolute;
    left: 243px;
    margin-top: -63px;
}

.ting-form-loader-else{
    position: absolute;
    right: 250px;
    margin-top: 3px;
    display: none;
}

.ting-form-loader-submit{
    display: none;
    position: absolute;
    left: 258px;
    margin-top: -63px;
}

.ting-admin-welcome{
    background: #FFF;
    text-align: center;
    padding-top: 50px;
}

.ting-admin-welcome h1{
    font-size: 68px;
    font-weight: 100;
}

.ting-admin-welcome h2{
    font-weight: 100;
    font-size: 40px;
    margin-top: 20px;
}

.ting-menu-image {
    width: 35px;
    height: 35px;
    position: absolute;
    margin-top: -25px;
}

.ting-menu-image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #666666;
}

.ting-profile-image {
  overflow: hidden;
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
  border: 4px solid #FFF;
  margin: auto;
}

.ting-profile-image img{
    width: 100%;
    text-align: center;
}

.ting-profile-image .ting-profile-image-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% !important;
}

.ting-profile-image-else {
  overflow: hidden;
  border: 4px solid #FFF;
  margin: auto;
  border-radius: 8px !important;
}

.ting-profile-image-else img{
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.ting-profile-image-else .ting-profile-image-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px !important;
  overflow: hidden;
}

.ting-profile-image-else #ting-image-overlay{
    overflow: hidden;
    border-radius: 8px !important;
}

.ting-profile-image form input[type=file],
.ting-profile-image-else form input[type=file]{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    text-align: left; 
    margin-left: -100px; 
    opacity: 0; 
    cursor: pointer;
}

.ting-key-input{
    margin: auto;
    margin-top: 20px;
}

.ting-key-input input{
    text-align: center;
    text-transform: uppercase;
}

.ting-btn-loading-center{
    position: relative;
}

.ting-btn-loading-center *{
    display: inline-block;
}

.ting-profile-image-menu{
    overflow: hidden;
    position: relative;
    display: block;
}

.ting-profile-image-menu img{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #DDD;
    border-radius: 50%;
}

.ting-no-p-left{
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.ting-no-p-top{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.ting-no-p-right{
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.ting-side-orders{
    display: block;
    position: relative;
    height: calc(100vh - 105px);
}

.ting-side-orders h2{
    font-weight: 100;
    text-transform: uppercase;
}

.ting-restaurant-name{
    position: relative;
    display: block;
}

.ting-restaurant-name h2{
    font-weight: 100;
}

.ting-restaurant-name p{
    margin-top: -5px !important;
}

.ting-restaurant-about-mini{
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.ting-restaurant-about{
    padding-left: 2rem;
    margin-top: 40px;
}

.ting-restaurant-about h3{
    font-weight: 100;
}

.ting-restaurant-about .ting-restaurant-about-data{
    margin-top: 40px;
    margin-bottom: 40px;
}

.ting-restaurant-about .ting-restaurant-about-data p{
    font-size: 18px;
}

.ting-restaurant-about .ting-restaurant-about-data p i{
    margin-right: 15px;
}

.ting-data-container-header h1{
    font-weight: 100;
    text-transform: uppercase;
}

.ting-item-images-preview{
    width: 100%;
    overflow: hidden;
    text-align: center !important;
    height: auto;
}

.ting-item-images-preview img{
    margin-bottom: 15px;
    margin-right: 7px;
    height: 150px;
    text-align: center;
}

.ting-item-images-preview img:last-child {
    margin-right: 0;
}

.ting-form-data-images{
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

.ting-form-data-images .ting-image-form{
    margin-bottom: 1.5rem;
    position: relative;
    padding: 0 8px;
    display: inline-block;
    height: 180px;
}

.ting-form-data-images .ting-image-form img{
    height: inherit;
    width: auto;
}

.ting-form-data-images .ting-image-form .ting-delete-image{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(0,0,0,.7);
    text-align: center;
    align-items: center;
    display: flex;
    top: 0;
    right: 8px;
}

.ting-form-data-images .ting-image-form .ting-delete-image a{
    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
}

.ting-form-data-images .ting-image-form .ting-delete-image a i{
    color: #FFF;
    text-align: center;
    margin-left: calc((30px - 1.18em) / 2);
}

.ting-jumb-image-bg{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.ting-jumb-image-bg img{
    width: 100%;
}

.ting-checkbox{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #FFF;
    border-radius:2px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 35px;
    height: 35px;
    border: 1px solid #999;
    transition: all .3s linear;
}

.ting-checkbox:checked{
  background-color: #2ECC71;
  border: 1px solid #2ECC71;
  border-radius: 2px;
}

.ting-checkbox:focus{
  outline: 0 none;
  box-shadow: none;
}

.ting-maps-marker .ting-maps-marker-box{
    width:40px;
    height:40px;
    border-radius:50%;
    margin:-100px -50px;
    border:solid 2px #b56fe8;
    color: red;
    cursor: pointer;
    overflow: hidden;
}

.ting-maps-marker .ting-maps-marker-box img{
    min-width:40px;
    width:auto;
    max-height:40px;
    height:auto;
}

.ting-maps-marker:after {
    top: 40px;
    left: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #b56fe8;
    border-width: 9px;
    margin-left: -39px;
    margin-top: -2px;
}

.gmnoprint *{
    font-size: 15px !important;
}

.gm-style-cc{
    display: none !important;
}

.abcRioButton{
    width: 100% !important;
}

.abcRioButton *{
    font-family: Poppins, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase !important;
}

.abcRioButtonContents{
    text-transform: uppercase !important;
}

.ting-menu-image {
  width: 35px;
  height: 35px;
  margin-top: -27px;
}

.ting-menu-image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #DDD;
}

.ting-icon {
    margin-left: 0;
    float: none;
    margin-right: .78571429rem;
    margin-top: 0;
    display: inline-block;
    opacity: 1;
    margin: 0 .78571429rem 0 0;
    width: 1.18em;
    height: 1em;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ting-user-container{
    padding: 60px 0 30px 0;
    background: #FFF;
}

.ui.secondary.pointing.menu .item{
    text-transform: uppercase !important;
}

.ui.secondary.pointing.menu .active.item {
    text-transform: uppercase !important;
    border-color: #b56fe8 !important;
    font-weight: 700;
    color: #b56fe8 !important;
}

.ting-user-about p{
    font-size: 15px;
}

.ui.labeled.ting-icon.button>.ting-icon, .ui.labeled.ting-icon.buttons>.button>.ting-icon {
    top: 0;
    left: 0;
}
.ui.labeled.ting-icon.button>.ting-icon, .ui.labeled.ting-icon.buttons>.button>.ting-icon {
    position: absolute;
    height: 100%;
    line-height: 1;
    border-radius: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    text-align: center;
    margin: 0;
    width: 2.57142857em;
    background-color: rgba(0,0,0,.05);
    color: '';
    -webkit-box-shadow: -1px 0 0 0 transparent inset;
    box-shadow: -1px 0 0 0 transparent inset;
}
.ui.ting-icon.button>.ting-icon, .ui.ting-icon.buttons .button>.ting-icon {
    opacity: .9;
    margin: 0!important;
    vertical-align: top;
}
.ui.button>.ting-icon:not(.button) {
    height: .85714286em;
    opacity: .8;
    margin: 0 .42857143em 0 -.21428571em;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    vertical-align: '';
    color: '';
}

.ting-user-container h1{
    font-weight: 100;
    margin-top: 20px !important;
}

.ting-user-top-fixed-menu{
    display: none;
    position: fixed;
    margin-top: 49px;
    width: 100%;
    z-index: 200;
    border-bottom: 2px solid rgba(34,36,38,.15);
    height: 42px;
    background: #FFF;
    box-shadow: inset -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    white-space: nowrap;
}

.ting-user-top-fixed-menu img{
    height: 32px;
    width: 32px;
    border-radius: 3px;
    margin-top: 4px;
    margin-left: 3px;
}

.ting-user-top-fixed-menu .ting-username{
    position: absolute;
    left: 0;
    margin-left: 55px;
    margin-top: -25px;
    text-transform: uppercase;
    font-weight: 500;
}

.ting-user-top-fixed-menu .row{
    padding: 0 !important;
}

.ting-user-top-fixed-menu .ui.secondary.pointing.menu{
    border-bottom: none !important;
}

.ting-user-container .ui.secondary.pointing.menu{
    white-space: nowrap;
}

.ting-restaurants-map{
    margin-top: 15px;
    border: 1px solid #DDD;
    height: calc(100vh - 187px - 49px - 32px);
    margin-bottom: 15px;
}

.ting-banner{
    padding: 60px 0;
    margin-top: 49px;
}

.ting-banner-content{
    width: 100%;
    text-align: center;
}

.ting-banner-content h1{
    font-weight: 100;
}

.ting-restaurant-map-info{
    width: 300px !important;
    white-space: normal;
}

.ting-restaurant-map-info .image{
    width: 100%;
}

.ting-restaurant-map-info .image img{
    width: 100%;
}

.ting-restaurant-map-info .about{
    margin-top: 5px;
}

.ting-restaurant-map-info .about h2{
    font-size: 23px;
}

.ting-restaurant-map-info .about .branch{
    font-size: 15px !important;
    margin-top: -11px;
}

.ting-restaurant-map-info .about p{
    margin-top: -8px;
}

.ting-restaurant-map-info i{
    margin-right: 8px;
}

.ting-restaurant-map-info .resto-info p{
    margin-bottom: 5px !important;
}

.ting-restaurants-list-container{
    display: block;
    position: relative;
}

.ting-restaurants-list-container h2{
    font-weight: 100;
}

.ting-restaurants-list-container .ting-restaurants-list{
    padding: 20px 0;
    position: relative;
}

.ting-rate-percent .ting-star{
    text-align: right;
    margin-top: -5px;
}

.ting-rate-percent .ting-star i.icon{
    font-size: 0.8em !important;
}

.ting-rate-wrapper{
    padding-top: 4px;
}

.ting-rate-container{
    width: calc(100% + 30px);
    background: #DDD;
    margin-bottom: 11px;
    margin-left: -20px;
    border-radius: 3px;
}

.ting-rate-container .ting-rate-fill{
    background: #999;
    padding: 3px 0px;
    border-radius: 3px;
}

.ting-rate-average{
    text-align: center;
    padding-top: 9px;
}

.ting-rate-average h1{
    font-size: 45px !important;
}

.ting-rate-average p{
    font-size: 12px;
}

.ting-reviews-count{
    width: calc(100% + 30px);
    text-align: left !important;
    margin-left: -20px;
}

.ting-reviews-count p{
    display: block;
    text-align: left !important;
}

.ting-like-restaurant{
    position: absolute;
    right: 0;
    top: 0px;
}

.ting-like-restaurant-branch{
    color: #DDD;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    display: block;
    right: 0;
    top: 0px;
}

.ting-like-restaurant button{
    color: #DDD;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
}

.ting-like-restaurant-branch > i,
.ting-like-restaurant > button > i{
    font-size: 25px;
    color: #DDD;
}

.ting-like-restaurant-branch svg,
.ting-like-restaurant button svg{
    position: absolute;
    top: 3.5px;
    right: 1px;
}

.ting-like-restaurant-branch:active > i,
.ting-like-restaurant button:active > i{
    transform: scale(0.9);
    background-color: darken(#b56fe8, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.ting-resto-item{
    padding: 1.5rem !important;
    border:1px solid #DDD !important;
    border-radius: 8px !important;
    margin-bottom: 1.5rem !important;
    cursor: pointer;
}

.ting-resto-item:hover{
    background: rgba(200, 200, 200, .1) !important;
}

.ting-resto-item.active {
    background: rgba(200, 200, 200, .1) !important;
}

.ting-fix-left{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
}

.ting-filter-by{
    position: relative;
    display: block;
    padding: 1.5em;
    border:1px solid #DDD;
    border-radius: 5px;
}

.ting-checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 9px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ting-checkbox-container .ting-checkbox-quantity{
    float: right;
}

.ting-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ting-checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #FFF;
    border:2px solid #999;
    border-radius: 3px;
}

.ting-checkbox-container input:checked ~ .ting-checkbox-checkmark {
    background-color: #908ced;
    border-color: #908ced;
}

.ting-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.ting-checkbox-container input:checked ~ .ting-checkbox-checkmark:after {
    display: block;
}

.ting-checkbox-container .ting-checkbox-checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ting-menus-list-item{
    display: block;
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.ting-menus-list-item .ting-menu-image-list{
    display: inline;
    height: 55px;
    margin-left: 5px;
}

.ting-menus-list-item .ting-menu-image-list:first-child{
    margin-left: 0;
}

.ting-menus-list-item .ting-menu-image-list img{
    display: inline;
    height: 55px;
    border-radius: 2px;
    margin-top: 5px;
}

.ui.pagination a.item.active{
    background-image: -moz-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    background-image: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    background-image: -ms-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    background-image: linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
    color: #FFF !important;
}

.ui.pagination a.item:hover{
    background-image: -moz-linear-gradient(0deg, #908ced 0%, #b56fe8 100%) !important;
    background-image: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%) !important;
    background-image: -ms-linear-gradient(0deg, #908ced 0%, #b56fe8 100%) !important;
    background-image: linear-gradient(0deg, #908ced 0%, #b56fe8 100%) !important;
    color: #FFF !important;
}

.ui .header a{
    font-weight: 500 !important;
    color: rgba(0,0,0,.85) !important;
}

.ui .header a:hover{
    color: darkblue !important;
}

.ting-session-profile-image .center {
  position: absolute;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.ting-price-promo{
    display: block;
    position: relative;
    width: 100%;
}

.ting-price-promo .ting-menu-promo,
.ting-price-promo .ting-menu-price {
    display: inline-block;
    position: relative;
}

.ting-price-promo .ting-menu-promo {
    width: 55%;
}

.ting-price-promo .ting-menu-price {
    text-align: right;
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
}

.ting-menu-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ting-menu-image-big-list img {
    border: 1px solid #DDD;
    border-radius: 2px;
    cursor: pointer;
}

.ting-menu-image-big-list img.active {
    border: 2px solid #908ced;
}

.ting-menu-image-big img {
    border-radius: 3px;
}

.ting-menu-description {
    position: relative;
    display: block;
}

.ting-menu-description h2 {}

.ting-menu-desc-ingredients {
    margin: 1.5rem 0;
}

.ting-menu-desc-ingredients ul {
    margin-left: 17px !important;
}

.ting-menu-desc-ingredients ul li {
    list-style: initial !important;
}

.ting-menu-price {
    display: block;
    position: relative;
}

.ting-empty-data {
    display: block;
    position: relative;
    padding: 80px 0;
    text-align: center;
}

.ting-empty-data i {
    color: rgba(211, 211, 211, .5);
    font-size: 100px !important;
    text-align: center;
}

.ting-empty-data p {
    color: rgba(211, 211, 211, .5);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ting-menu-other {
    padding-top: 8px;
}

.ting-cuisines-container {
    display: block;
    position: relative;
    margin-top: 45px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.ting-cuisines-container h2 {
    display: block;
    font-weight: bold;
    color: #333;
}

.ting-overflow-grid {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
    height: 180px;
}

.ting-overflow-row {
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    height: 180px;
}

.ting-over-column {
    padding-right: 15px;
    width: calc((100% + 4px) / 4);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 !important;
    height: 180px;
}

.ting-over-column .ting-cuisine-item {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
}

.ting-over-column .ting-cuisine-item img {
    width: 100%;
    border-radius: 2px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .ting-overflow-grid,
    .ting-overflow-row,
    .ting-over-column .ting-cuisine-item {
        height: auto !important;
    }

    .ting-carousel-prev,
    .ting-carousel-next {
        bottom: 80px !important;
    }
}

@media screen and (max-width: 768px) {
    .ting-overflow-grid,
    .ting-overflow-row,
    .ting-over-column .ting-cuisine-item {
        height: auto !important;
    }

    .ting-carousel-prev,
    .ting-carousel-next {
        bottom: 80px !important;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .ting-overflow-grid,
    .ting-overflow-row,
    .ting-over-column .ting-cuisine-item {
        height: auto !important;
    }

    .ting-carousel-prev,
    .ting-carousel-next {
        bottom: 80px !important;
    }
}

.ting-cuisine-item .ting-cuisine-about {
    position: absolute;
    width: 100%;
    padding: 0.5rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
    bottom: -54px;
    height: 54px;
    overflow: hidden;
}

.ting-cuisine-item .ting-cuisine-about h5 {
    color: #FFF;
}

.ting-cuisine-item .ting-cuisine-about p {
    color: #FFF;
    margin-top: -5px;
    font-size: 12px;
}

.ting-over-column .ting-cuisine-item:hover .ting-cuisine-about {
    display: block;
}

.ting-cuisine-item .ting-cuisine-about .ting-cuisine-follow {
    position: absolute;
    right: 1rem;
    top: 16px;
}

.ting-cuisine-item .ting-cuisine-about .ting-cuisine-follow i {
    font-size: 24px;
    color: #FFFFFF;
}

.ting-carousel-prev,
.ting-carousel-next {
    position: absolute;
    background: #DDDDDD;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px #999999;
    bottom: 60px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0 !important;
    display: block;
    text-align: center;
    opacity: 0.8;
    -webkit-transition: ease-in all .3s;
    -moz-transition: ease-in all .3s;
    -ms-transition: ease-in all .3s;
    -o-transition: ease-in all .3s;
    transition: ease-in all .3s;
}

.ting-carousel-prev {
    left: 10px;
}

.ting-carousel-next {
    right: 10px;
}

.ting-carousel-prev i,
.ting-carousel-next i {
    position: absolute;
    padding: 0 !important;
    top: 10px;
    left: 10px;
}

.ting-carousel-prev i {
    left: 8px !important;
}

.ting-carousel-prev:hover,
.ting-carousel-next:hover {
    background: #FFFFFF;
    opacity: 1;
}

.blog-slider {
    width: 100%;
    position: relative;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(144, 140, 237, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all .3s;
    margin-top: 40px;
}

@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin-top: 155px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
    }
}

.blog-slider__item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
    }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: .3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
}

.blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #908ced 0%, #b56fe8 74%);
    box-shadow: 4px 13px 20px 1px rgba(144, 140, 237, 0.2);
    border-radius: 20px;
    transform: translateX(30px);
    overflow: hidden;
}

.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(147deg, #908ced 0%, #b56fe8 74%);
    border-radius: 20px;
    opacity: 0.2;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all .3s;
}

@media screen and (max-width: 768px) {
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
        height: 270px;
    }
}

.blog-slider__content {
    padding-right: 25px;
    margin-left: 80px;
}

@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
        margin-left: 0;
    }
}

.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}

.blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #908ced 0%, #b56fe8 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 40px rgba(144, 140, 237, 0.2);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.blog-slider__button:hover {
    color: #FFF;
}

@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
    }
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, 
.blog-slider .swiper-pagination-custom, 
.blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 4px !important;
}

@media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }
}

.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    margin: 8px 4px !important;
    opacity: 0.2;
    transition: all .3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #908ced;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(144, 140, 237, 0.3);
}

@media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
    }
}

.ting-today-promotions {
    display: block;
    position: relative;
    margin-bottom: 40px;
    margin-top: 45px;
}

.ting-today-promotions h2 {
    font-weight: bold;
    display: block;
    color: #333;
}

.ting-promotions-container {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 550px;
    margin-top: 15px;
}

.ting-promotions-wrapper {
    display: block;
    position: relative;
    width: calc(100% - 2px);
    overflow: hidden;
    height: 550px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}

.ting-promotions-pagination {
    position: absolute;
    z-index: 100;
    text-align: right;
    padding-right: 10px;
    bottom: 0px !important;
    background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ting-promotion-item {
    display: block;
    position: relative;
    width: 100%;
}

.ting-promotion-item .ting-promotion-about {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .0));
    top: 0;
    padding: 2rem;
    z-index: 1000;
    width: 100%;
}

.ting-promotion-item .ting-promotion-about h1 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 2px 1px #333;
}

.ting-promotion-item .ting-promotion-about p {
    color: #FFFFFF;
    font-size: 16px;
}

.ting-promotion-item .ting-promotion-about .ting-p-b {
    font-weight: bold;
}

.ting-promotion-item img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .ting-promotions-container,
    .ting-promotions-wrapper {
        height: 250px;
    }
}

.ting-promotions-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 4px !important;
}

@media screen and (max-width: 768px) {
    .ting-promotions-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }

    .ting-promotions-container,
    .ting-promotions-wrapper {
        height: 250px;
    }
}

.ting-promotions-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 10px;
    background: #FFFFFF;
    margin: 8px 4px !important;
    opacity: 0.6;
    transition: all .3s;
}

.ting-promotions-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #908ced;
    width: 30px;
    box-shadow: 0px 0px 20px rgba(144, 140, 237, 0.3);
}