{% extends '../navbar.html' %}
{% load static %}
{% block title %}
<title>Ting.com - Blogs</title>
{% endblock %}
{% block body %}
<section class="generic-banner relative ting-banner">		
	<div class="container">
		<div class="d-flex align-items-center">
			<div class="generic-banner-content ting-banner-content">
				<h1 class="text-white" style="text-transform:uppercase;">Blogs</h1>
                <p class="text-white">Find and Get here the most inspiring and insightfull culinary blogs</p>
			</div>							
        </div>
    </div>
</section>

{% endblock %}