{% load humanize %}
{% load ting_tags %}
<table class="ui striped table" style="min-height: 400px;">
    <thead>
        <tr>
            <th class="center aligned">#</th>
            <th class="center aligned">Image</th>
            <th class="left aligned" style="text-align: left !important;">Menu</th>
            <th class="right aligned" style="text-align: right !important;">Orders</th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus %}
            <tr style="background: #FFFFFF !important;">
                <td class="center aligned" style="font-weight: bold;">{{forloop.counter}}</td>
                <td class="center aligned"><img src="{{menu.menu|menu_image}}" style="width: 45px; height: 45px;"/></td>
                <td class="left aligned" style="text-align: left !important;">{{menu.menu|menu_name}}</td>
                <td class="right aligned" style="text-align: right !important;">{{menu.orders|intcomma}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>