{% load ting_tags %}
{% load tz %}
<div class="content">
    <div class="image">
        <div class="ui grid">
            <div class="row">
                <div class="eight wide column" style="padding-left: 2rem;">
                    <img src="{{admin.image.url}}" style="width: 100%;">
                </div>
                                
                <div class="eight wide column">
                    <div class="ting-restaurant-about ting-no-p-top">
                      <h3>ABOUT</h3>
                      <div class="ting-restaurant-about-data">
                          <p><i class="icon user"></i>{{admin.name}}</p>
                          <p><i class="icon user outline"></i>{{admin.username}}</p>
                          <p><i class="icon map marker alternate"></i>{{admin.branch.name}}</p>
                          <p><i class="icon mail"></i>{{admin.email}}</p>
                          <p><i class="icon phone"></i>{{admin.phone|none}}</p>
                          <p><i class="icon id badge"></i>{{admin.badge_number|none}}</p>
                          <p><i class="icon street view"></i>{{admin.admin_type_str}}</p>
                          <p><i class="icon clock"></i>{{admin.created_at|date}}</p>
                      </div>    
                  </div>         
                </div>            
            </div>
        </div>
    </div>
</div>