{% extends '../navbar.html' %}
{% load staticfiles %}
{% block title %}
<title>Ting.com - Discovery</title>
{% endblock %}
{% block body %}
<section class="generic-banner relative ting-banner">		
	<div class="container">
		<div class="d-flex align-items-center">
			<div class="generic-banner-content ting-banner-content">
				<h1 class="text-white" style="text-transform:uppercase;">Discovery</h1>
                <p class="text-white">Discover what's new Today : Restaurants, Menus, Promotions and Others</p>
			</div>							
        </div>
    </div>
</section>
<section class="container">
	<div class="ting-try-today">
		<div class="blog-slider">
		  	<div class="blog-slider__wrp swiper-wrapper">
		    	<div class="blog-slider__item swiper-slide">
		      		<div class="blog-slider__img">
		        		<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg" alt="">
		      		</div>
		      		<div class="blog-slider__content">
		        		<span class="blog-slider__code">26 December 2019</span>
		        		<div class="blog-slider__title">Lorem Ipsum Dolor</div>
		        		<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
		        		<a href="#" class="blog-slider__button">READ MORE</a>
		      		</div>
		    	</div>
		    	<div class="blog-slider__item swiper-slide">
		      		<div class="blog-slider__img">
		        		<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
		      		</div>
		      		<div class="blog-slider__content">
		        		<span class="blog-slider__code">26 December 2019</span>
		        		<div class="blog-slider__title">Lorem Ipsum Dolor2</div>
		        		<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
		       	 		<a href="#" class="blog-slider__button">READ MORE</a>
		      		</div>
		    	</div>
		    
		    	<div class="blog-slider__item swiper-slide">
		      		<div class="blog-slider__img">
		        		<img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
		      		</div>
		      		<div class="blog-slider__content">
		        		<span class="blog-slider__code">26 December 2019</span>
		        		<div class="blog-slider__title">Lorem Ipsum Dolor</div>
		        		<div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
		        		<a href="#" class="blog-slider__button">READ MORE</a>
		      		</div>
		    	</div>
		    
		  	</div>
		  	<div class="blog-slider__pagination"></div>
		</div>
	</div>
	<div class="ting-cuisines-container">
		<h2>Cuisines</h2>
		<div class="ting-overflow-grid">
			<ul class="ting-overflow-row" id="ting-cuisines-carousel" data-items-count="{{cuisines.count}}">
				{% for cuisine in cuisines %}
					<li class="ting-over-column">
						<div class="ting-cuisine-item">
							<img src="{{cuisine.image.url}}">
							<div class="ting-cuisine-about">
								<h5>{{cuisine.name}}</h5>
								<p>{{cuisine.restaurants_counts}} restaurants</p>
								<div class="ting-cuisine-follow">
									<i class="lnr lnr-heart"></i>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			<button class="ting-carousel-prev" id="ting-cuisine-prev" style="display: none;"><i class="icon chevron left"></i></button>
			<button class="ting-carousel-next" id="ting-cuisine-next"><i class="icon chevron right"></i></button>
		</div>
	</div>
</section>
<script type="text/javascript">
	window.__TING__Session = {{session_json|safe}}
</script>
{% endblock %}