{% extends '../navbar.html' %}
{% load staticfiles %}
{% block title %}
<title>Ting.com - Discovery</title>
{% endblock %}
{% block body %}
<section class="generic-banner relative ting-banner">		
	<div class="container">
		<div class="d-flex align-items-center">
			<div class="generic-banner-content ting-banner-content">
				<h1 class="text-white" style="text-transform:uppercase;">Discovery</h1>
                <p class="text-white">Discover what's new Today : Restaurants, Menus, Promotions and Others</p>
			</div>							
        </div>
    </div>
</section>
<section class="container">
	<div class="ting-try-today">
		<div class="blog-slider">
		  	<div class="blog-slider__wrp swiper-wrapper">
		  		{% for branch in recommanded_branches %}
			    	<div class="blog-slider__item swiper-slide">
			      		<div class="blog-slider__img">
			        		<img src="{{branch.restaurant.logo.url}}" alt="">
			      		</div>
			      		<div class="blog-slider__content">
			        		<span class="blog-slider__code">#RecommandedRestaurant</span>
			        		<div class="blog-slider__title">{{branch.restaurant.name}}, {{branch.name}}</div>
			        		<div class="blog-slider__rate"><div class="ui huge disabled-rating star rating" data-rating="{{branch.review_average}}" data-max-rating="5" style="margin-bottom:10px;"></div></div>
			        		<div class="blog-slider__text"><i icon="" class="icon map marker alternate"></i> {{branch.address}}</div>
			        		<a href="{% url 'ting_usr_get_restaurant_promotions' branch.restaurant.pk branch.pk branch.restaurant.slug %}" class="blog-slider__button">VIEW DETAILS</a>
			      		</div>
			    	</div>
		    	{% endfor %}
		  	</div>
		  	<div class="blog-slider__pagination"></div>
		</div>
	</div>
	<div class="ting-cuisines-container">
		<h2>Cuisines</h2>
		<div class="ting-overflow-grid">
			<ul class="ting-overflow-row" id="ting-cuisines-carousel" data-items-count="{{cuisines.count}}">
				{% for cuisine in cuisines %}
					<li class="ting-over-column">
						<div class="ting-cuisine-item">
							<img src="{{cuisine.image.url}}">
							<div class="ting-cuisine-about">
								<h5>{{cuisine.name}}</h5>
								<p>{{cuisine.restaurants_counts}} restaurants</p>
								<div class="ting-cuisine-follow">
									<i class="lnr lnr-heart"></i>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			<button class="ting-carousel-prev" id="ting-cuisine-prev" style="display: none;"><i class="icon chevron left"></i></button>
			<button class="ting-carousel-next" id="ting-cuisine-next"><i class="icon chevron right"></i></button>
		</div>
	</div>
	{% if recommanded_promotions|length > 0 %}
	<div class="ting-today-promotions">
		<h2>Today's Promotions</h2>
		<div class="ting-promotions-container">
			<div class="ting-promotions-wrapper swiper-wrapper">
				{% for promotion in recommanded_promotions %}
					<div class="ting-promotion-item swiper-slide">
						<div class="ting-promotion-poster">
							<img src="{{promotion.poster_image.url}}">
						</div>
						<div class="ting-promotion-about">
							<h1><a href="{{promotion.to_json.urls.relative}}">{{promotion.occasion_event}}</a></h1>
							<div style="width: 50%;"><hr style="background: rgba(255, 255, 255, 0.5); text-align: left; box-sizing: none;"></div>
							{% if promotion.promotion_menu_type == '05' %}
								<p>Promotion On <span class="ting-p-b">{{promotion.category.name}}</span></p>
							{% elif promotion.promotion_menu_type == '04' %}
								<p>Promotion On <span class="ting-p-b">{{promotion.menu.to_json.menu.name}}</span></p>
							{% else %}
								<p>Promotion On <span class="ting-p-b">{{promotion.promo_type}}</span></p>
							{% endif %}
							{% if promotion.has_supplement %}
								<div class="ting-promotion-data">
									<div class="icon">
										<i class="icon plus square outline"></i>
									</div>
									<div class="data"><p>Buy <b>{{promotion.supplement_min_quantity}}</b>, Get <b>{{promotion.supplement_quantity}}</b> {% if promotion.is_supplement_same %} More {% else %} <a href="{{promotion.supplement.to_json.urls.url}}">{{promotion.supplement.to_json.menu.name}}</a> {% endif %} For Free</p></div>
								</div>
							{% endif %}
							{% if promotion.has_reduction %}
								<div class="ting-promotion-data">
									<div class="icon">
										<i class="icon minus square outline"></i>
									</div>
									<div class="data"><p>{{promotion.amount}} {{promotion.reduction_type}} Reduction</p></div>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="ting-promotions-pagination"></div>
			<a href="{% url 'ting_usr_global_discovery_today_promotions' %}" class="ting-show-more-promotions">Show More</a>
		</div>
	</div>
	{% endif %}
</section>
<script type="text/javascript">
	window.__TING__Session = {{session_json|safe}}
</script>
{% endblock %}