{% extends '../layouts/header.html' %}
{% load staticfiles %}
{% block title %}
    <title>Ting.com - Admin Login</title>
{% endblock %}
{% block content %}
<div class="ui middle aligned center aligned grid" style="height:100vh; width: 100%; display: flex; align-items: center; background: url('{% static 'imgs/food.jpg' %}') no-repeat center; background-size: cover; margin: 0 !important;">
    <div class="column" style="max-width:450px; box-shadow: 0 0 2px 4px rgba(0, 0, 0, .1); border-radius: 3px; background: #ffffff;">
        <div class="ting-logo">
            <h1><span class="ting-primary-color">Ting</span><span class="ting-secondary-color">.com</span></h1>
        </div>
        <form class="ui large form" method="POST" action="{% url 'ting_admin_login' %}">
            {% csrf_token %}
            <div class="ui segment">
                <div class="field">
                    <!-- <div class="ui left icon input"> -->
                        <label style="text-align: left;">Enter E-mail Address</label>
                        <!-- <i class="icon user"></i> -->
                        <input type="text" name="email" placeholder="E-mail address" autocomplete="off">
                    <!-- </div> -->
                </div>
                <div class="field">
                    <!-- <div class="ui left icon input"> -->
                        <label style="text-align: left;">Enter Password</label>
                        <!-- <i class="icon lock"></i> -->
                        <input type="password" name="password" placeholder="Password">
                    <!-- </div> -->
                </div>
                <button class="ui fluid large blue submit button ting-secondary-bg" type="submit">Login</button>
            </div>
        </form>
        <div class="ui message">
            <a href="#">Forgot Your Password ?</a>
        </div>
    </div>
</div>
{% endblock %}