{% extends '../../navbar.html' %}
{% load staticfiles %}
{% load humanize %}
{% load ting_tags %}
{% block title %}
<title>Ting.com - About / {{restaurant.restaurant.name}}, {{restaurant.name}}</title>
{% endblock %}
{% block body %}
<div class="ting-user-top-fixed-menu">
	<div class="container">
		<div class="ui grid">
			<div class="row">
				<div class="col-lg-3">
					<img src="{{restaurant.restaurant.logo.url}}" alt="{{restaurant.name}}">
					<p class="ting-username">{{restaurant.restaurant.name}}</p>
				</div>
				<div class="col-lg-9">
					<div class="ui secondary pointing menu">
					  	<a href="{% url 'ting_usr_get_restaurant_promotions' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Promotions
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_foods' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Foods
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_drinks' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Drinks
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_dishes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Dishes
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_reviews' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Reviews
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_likes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Likes
					  	</a>
					  	
					  	<a href="{% url 'ting_usr_get_restaurant_about' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item active">
					    	About
					  	</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="container">
	<div class="ting-user-container">
		<div class="ui grid">
			<div class="row">
				<div class="col-lg-3">
					{% include '../restaurant/restaurant_about.html' %}
				</div>
				<div class="col-lg-9">
					<div class="ui secondary pointing menu">
					  	<a href="{% url 'ting_usr_get_restaurant_promotions' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Promotions
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_foods' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Foods
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_drinks' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Drinks
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_dishes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					   		Dishes
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_reviews' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Reviews
					  	</a>
					  	<a href="{% url 'ting_usr_get_restaurant_likes' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item">
					    	Likes
					  	</a>
					  	
					  	<a href="{% url 'ting_usr_get_restaurant_about' restaurant.restaurant.pk restaurant.pk restaurant.restaurant.slug %}" class="item active">
					    	About
					  	</a>
					</div>
					<div class="ui">
					  	<h1>RESTAURANT'S PROFILE</h1>
					  	<br>
						<h4 style="text-transform: uppercase;">About</h4>
						<hr>
						<div class="ui grid">
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Name : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.name}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Branch : </p></div>
								<div class="eight wide column"><p>{{restaurant.name}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Address : </p></div>
								<div class="eight wide column"><p>{{restaurant.town}} {{restaurant.country}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Open, Close : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.opening}} - {{restaurant.restaurant.closing}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Motto : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.motto}}</p></div>
							</div>
						</div>
						<br>
						<h4 style="text-transform: uppercase;">Contact</h4>
						<hr/>
						<div class="ui grid">
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">E-mail : </p></div>
								<div class="eight wide column"><p>{{restaurant.email}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Phone : </p></div>
								<div class="eight wide column"><p>{{restaurant.phone}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Address : </p></div>
								<div class="eight wide column"><p>{{restaurant.address}}</p></div>
							</div>
						</div>
						<br>
						<h4 style="text-transform: uppercase;">Data Stats</h4>
						<hr>
						<div class="ui grid">
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Foods : </p></div>
								<div class="eight wide column"><p>{{restaurant.foods_count|intcomma}} Foods</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Drinks : </p></div>
								<div class="eight wide column"><p>{{restaurant.drinks_count|intcomma}} Drinks</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Dishes : </p></div>
								<div class="eight wide column"><p>{{restaurant.dishes_count|intcomma}} Dishes</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Likes : </p></div>
								<div class="eight wide column"><p>{{restaurant.likes_count|intcomma}} Likes</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Reviews : </p></div>
								<div class="eight wide column"><p>{{restaurant.reviews_count|intcomma}} Reviews</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Stars : </p></div>
								<div class="eight wide column"><div class="ui disabled-rating star large rating" data-rating="{{restaurant.review_average}}" data-max-rating="5"></div></div>
							</div>
						</div>
						<br>
						{% if restaurant.restaurant.purpose == 2 %}
						<h4 style="text-transform: uppercase;">Config</h4>
						<hr>
						<div class="ui grid">
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Currency : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.currency}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">VAT : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.tax}} %</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Late Reservation Time : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.cancel_late_booking}} min</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Make Reservation With Advance : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.book_with_advance|yesno}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Reservation Advance : </p></div>
								<div class="eight wide column"><p>{% if restaurant.restaurant.config.book_with_advance == true %} {{restaurant.restaurant.config.currency}} {{restaurant.restaurant.config.book_with_advance}}{% else %} - {% endif %}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Refund After Cancelation : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.booking_cancelation_refund|yesno}}</p></div>
							</div>
							{% if restaurant.restaurant.config.booking_cancelation_refund == True %}
								<div class="row" style="padding-bottom: 0;">
									<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Cancelation Refund : </p></div>
									<div class="eight wide column"><p>{{restaurant.restaurant.config.booking_cancelation_refund_percent}} %</p></div>
								</div>
							{% endif %}
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Booking Payement Mode : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.payement_mode}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Days Before Booking : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.days_before_reservation}} days</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Can Take Away : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.can_take_away|yesno}}</p></div>
							</div>
							<div class="row" style="padding-bottom: 0;">
								<div class="eight wide column"><p style="text-align: right; font-weight: bold;">Pay Before Receiving Order : </p></div>
								<div class="eight wide column"><p>{{restaurant.restaurant.config.user_should_pay_before|yesno}}</p></div>
							</div>
						</div>
						<br>
						{% endif %}
						<h4 style="text-transform: uppercase;">Other Branches</h4>
						<hr>
						<div class="ui items">
							{% for branch in restaurant.restaurant.branches %}
								{% if branch.id != restaurant.id %}
									<div class="item ting-resto-item">
										<div class="ui image small">
											<img src="{{branch.restaurant.logo.url}}">
										</div>
										<div class="content">
											<a class="header" href="{% url 'ting_usr_get_restaurant_promotions' branch.restaurant.pk branch.pk branch.restaurant.slug %}">{{branch.restaurant.name}}, {{branch.name}}</a>
											<div class="description">
												<div class="ui disabled-rating star large rating" data-rating="{{branch.review_average}}" data-max-rating="5"></div>
												<p style="margin-top: 5px;"><i class="icon map marker alternate"></i> {{branch.address}}</p>
												<p><i class="icon envelope"></i> {{branch.email}}</p>
												<!-- <p><i class="icon phone"></i> {{branch.phone}}</p> -->
											</div>
											<div class="extra">
												<div class="ui label"><i class="icon heart outline"></i> {{branch.likes_count|intcomma}} Likes</div>
												<div class="ui label"><i class="icon star outline"></i> {{branch.reviews_count|intcomma}} Reviews</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	window.__TING__Session = {{session_json|safe}}
	window.__TING__Restaurant = {{restaurant_json|safe}}
	window.__TING__Link = {type: "restaurant", name: "about"} || {};
	window.__TING__Token = $("input[name=csrfmiddlewaretoken]").val() || null;
	window.__TING__URL_Like = decodeURI("{% url 'ting_usr_like_restaurant_toggle' '{restaurant}' '{branch}' %}");
	window.__TING__URL_Load_Branch_Directions = decodeURI("{% url 'ting_usr_load_branch_directions' '{restaurant}' '{branch}' %}");
	window.__TING__URL_Menus_Cuisine = decodeURI("{% url 'ting_usr_get_restaurant_menus_cuisine' '{branch}' '{cuisine}' '{slug}' %}");
	window.__TING__URL_Menus_Category = decodeURI("{% url 'ting_usr_get_restaurant_menus_category' '{branch}' '{category}' '{slug}' %}");
</script>
{% endblock %}